Repository apache/iotdb, pull requests merged in 2020-11, with the labels that each got.

#1910 check exception when insert tablet
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
Labels: cluster

#1908 [IOTDB-973] fix bug when start-cli with -e parameter
  cli/src/assembly/resources/sbin/start-cli.bat
  cli/src/assembly/resources/sbin/start-cli.sh
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
Labels: rel/0.11

#1865 [IOTDB-915]Add raft log persist mechanism and use persist log to catch up
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/StableEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/CommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/LogManagerMeta.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/function/LogView.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/CommitLogCallbackTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/LogDispatcherTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/MetaLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/CatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/SnapshotCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/MetaSingleSnapshotLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/DataSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/PullSnapshotTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/partition/SlotManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/AppendGroupEntryHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/AppendNodeEntryHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/ElectionHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/LogCatchUpHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/DataHeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MemberTest.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/utils/ReadWriteIOUtils.java
Labels: cluster

#1922 [Distributed] Fix catchup judgement during leadership transfer
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandler.java
Labels: cluster

#1923 [Distributed] Fix thrift NPE caused by null alias
  server/src/main/java/org/apache/iotdb/db/metadata/PartialPath.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/metadata/MTreeTest.java
Labels: cluster

#1950 [Distributed] Bug fix & set configurable of useBatchInCatchUp in LogDispatcher
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
Labels: cluster

#1956 [Distributed] bug fix, remove the persist logs when follower receives a snapshot
  cluster/src/main/java/org/apache/iotdb/cluster/log/StableEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
Labels: cluster

#1984 Update change lists of role, user, and TsFileResource
  server/file-changelists/TsFileResource-changelist.md
  server/file-changelists/role-changelist.md
  server/file-changelists/storage_group_version-changelist.md
  server/file-changelists/user-changelist.md
Labels: no-code

#1987 fix async send log bug
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConstant.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTask.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConstant.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
Labels: cluster

#1992 [Distributed] Add auto create createMultiTimeSeriesPlan
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
Labels: cluster

#2059 [Distributed] Fix the checking applied log thread abnormal exits bug
  cluster/src/main/java/org/apache/iotdb/cluster/client/rpcutils/AutoScalingBufferWriteTransport.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/FileSnapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestLogManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
Labels: Module - Cluster

#2027 Fix thread safety issues in SyncServerManager
  server/src/main/java/org/apache/iotdb/db/service/thrift/ThriftService.java
Labels: Module - File Sync

#2063 Refactor LastQueryExecutor to separate the execution into multiple stages
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByFillDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBLastIT.java
Labels: Module - Query Processing

#2066 [To rel/0.11] change default TsFile size threshold
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
Labels: Improvement

#2062 [IOTDB-1012] Remove unfriendly query process error for users
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBMultiSeriesIT.java
Labels: Improvement

#2077 Remove all useless semicolons
  server/src/main/java/org/apache/iotdb/db/auth/authorizer/OpenIdAuthorizer.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/WritableMemChunk.java
  server/src/main/java/org/apache/iotdb/db/metrics/server/ServerArgument.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/AlignByDevicePlan.java
  server/src/main/java/org/apache/iotdb/db/query/executor/fill/LastPointReader.java
  server/src/main/java/org/apache/iotdb/db/tools/watermark/WatermarkDetector.java
  server/src/test/java/org/apache/iotdb/db/integration/IOTDBGroupByIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IOTDBGroupByInnerIntervalIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBAggregationIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBAggregationLargeDataIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBAggregationSmallDataIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBAuthorizationIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBDaemonIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBDeleteStorageGroupIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBFloatPrecisionIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByFillIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByFillWithRangeIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBInsertNaNIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBLargeDataIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBMultiSeriesIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBRecoverIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBRecoverUnclosedIT.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/ReadInPartitionTest.java
Labels: Easy-Fixed

#2048 Fix resource leak in TsFileOutputFormat
  flink-tsfile-connector/src/main/java/org/apache/iotdb/flink/tsfile/TsFileOutputFormat.java
Labels: Module - Flink

#2081 Fix some format issues of tsfile doc
  docs/SystemDesign/TsFile/Format.md
  docs/zh/SystemDesign/TsFile/Format.md
Labels: Module - Documents

#2064 [Distributed]fix sonar code smells
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/assembly/resources/conf/iotdb-engine.properties
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncDataClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncMetaClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/logtypes/PhysicalPlanLog.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/CommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/manage/QueryCoordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/GenericHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
Labels: Module - Cluster

#2088 [IOTDB-768] Extend more functions in aggregation group by level
  docs/UserGuide/Operation Manual/DML Data Manipulation Language.md
  docs/zh/UserGuide/Operation Manual/DML Data Manipulation Language.md
  server/src/main/java/org/apache/iotdb/db/qp/strategy/LogicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/AggregateResult.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByTimeDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/executor/AggregationExecutor.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/utils/FilePathUtils.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBAggregationByLevelIT.java
  server/src/test/java/org/apache/iotdb/db/query/dataset/GroupByLevelDataSetTest.java
  server/src/test/java/org/apache/iotdb/db/query/dataset/GroupByTimeDataSetTest.java
Labels: Module - Query Processing

#2034 Change listener to visitor in antlr in order to improve prase speed.
  antlr/pom.xml
  antlr/src/main/antlr4/org/apache/iotdb/db/qp/sql/SqlBase.g4
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/qp/Planner.java
  server/src/main/java/org/apache/iotdb/db/qp/constant/SQLConstant.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/QueryIndexOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/QueryOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/LogicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/ParseDriver.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/SQLParseError.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/test/java/org/apache/iotdb/db/qp/plan/IndexLogicalPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/plan/LogicalPlanSmallTest.java
  server/src/test/java/org/apache/iotdb/db/qp/sql/DatetimeQueryDataSetUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/qp/strategy/LogicalGeneratorTest.java
Labels: Module - SQL

#2120 [Issue-2110] Update start-client to start-cli
  docker/ReadMe.md
  docs/UserGuide/System Tools/Watermark Tool.md
  docs/zh/UserGuide/System Tools/Watermark Tool.md
Labels: Module - Documents

#2119 [IOTDB-1027] add mods file changelist
  server/file-changelists/TsFileMods-changelist.md
Labels: Module - Documents

#2113 when auto create schema, we need to wait for sg ready
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
Labels: Module - Cluster

#2016 fix grafana bug
  grafana/src/main/java/org/apache/iotdb/web/grafana/controller/DatabaseConnectController.java
  grafana/src/main/java/org/apache/iotdb/web/grafana/dao/impl/BasicDaoImpl.java
  grafana/src/test/java/org/apache/iotdb/web/grafana/dao/impl/BasicDaoImplTest.java
Labels: Module - Grafana

#2134 fix leader is null
  cluster/src/main/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThread.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
Labels: Module - Cluster
