Repository apache/iotdb, pull requests merged in 2020-12, with the labels that each got.

#2151 [IOTDB-1035] [To rel/0.11] Fix bug in getDeviceTimeseriesMetadata when querying non-exist device
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/TsFileSequenceReaderTest.java
Labels: v0.11.1

#2114 [To rel/0.11] change mem control lock usage
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/exception/WriteProcessRejectException.java
  server/src/main/java/org/apache/iotdb/db/rescon/SystemInfo.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TSStatusCode.java
Labels: Module - Storage Engine, Need Test

#2036 [IOTDB-995][C++ Client] C++ client supports new session interfaces with time zone
  .travis.yml
  client-cpp/README.md
  client-cpp/client-cpp-example/pom.xml
  client-cpp/client-cpp-example/src/SessionExample.cpp
  client-cpp/pom.xml
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
  client-cpp/src/test/CMakeLists.txt
  client-cpp/src/test/cpp/sessionIT.cpp
  client-cpp/src/test/main.cpp
  compile-tools/README.md
Labels: Module - C++ client

#2232 Change variable names makes the logic easier to understand
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
Labels: Module - Cluster

#2096 [IOTDB-507] Add zeppelin-interpreter module
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
  cli/src/main/java/org/apache/iotdb/cli/Cli.java
  cli/src/main/java/org/apache/iotdb/cli/WinCli.java
  cli/src/main/java/org/apache/iotdb/tool/ExportCsv.java
  cli/src/test/java/org/apache/iotdb/cli/AbstractCliIT.java
  pom.xml
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcUtils.java
  zeppelin-interpreter/IoTDB-Zeppelin-Demo.zpln
  zeppelin-interpreter/README.md
  zeppelin-interpreter/pom.xml
  zeppelin-interpreter/src/main/java/org/apache/zeppelin/iotdb/IoTDBInterpreter.java
  zeppelin-interpreter/src/main/resources/interpreter-setting.json
  zeppelin-interpreter/src/test/java/org/apache/zeppelin/iotdb/IoTDBInterpreterTest.java
Labels: Module - Zeppelin

#2029 [IOTDB-825] aggregation by natural month
  docs/UserGuide/Operation Manual/DML Data Manipulation Language.md
  docs/UserGuide/Operation Manual/SQL Reference.md
  docs/zh/UserGuide/Operation Manual/DML Data Manipulation Language.md
  docs/zh/UserGuide/Operation Manual/SQL Reference.md
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/QueryOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/GroupByTimePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByEngineDataSet.java
  server/src/test/java/org/apache/iotdb/db/integration/IOTDBGroupByIT.java
  server/src/test/java/org/apache/iotdb/db/query/executor/GroupByEngineDataSetTest.java
Labels: Module - Query Processing

#2269 [IOTDB-1052] SDT Chinese document does not use UTF-8 encoding
  docs/zh/UserGuide/Concept/SDT.md
Labels: Module - Documents

#2272 fix file not found when restart
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/MLogTxtReader.java
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/MLogWriter.java
Labels: Module - Schema Manager, bug

#2296 Fixed a section number in the sync tool document
  docs/UserGuide/System Tools/Sync Tool.md
  docs/zh/UserGuide/System Tools/Sync Tool.md
Labels: Module - Documents

#2295 Remove extra commas to make the param annotation take effect
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/MLogWriter.java
Labels: Trivial

#2287 fix some doc grammar issues in the cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
Labels: Module - Cluster, Module - Documents

#2285 fix javadoc
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
Labels: Module - Cluster, Trivial

#2299 Fix dependency bug and add documents
  docs/UserGuide/Ecosystem Integration/Zeppelin-IoTDB.md
  docs/zh/UserGuide/Ecosystem Integration/Zeppelin-IoTDB.md
  zeppelin-interpreter/README.md
  zeppelin-interpreter/pom.xml
Labels: Module - Documents, Module - Zeppelin

#2300 [IOTDB-1066] Code improvement
  server/src/main/java/org/apache/iotdb/db/engine/memtable/AbstractMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
Labels: Module - Storage Engine

#2284 fix ArithmeticException
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
Labels: Module - Cluster, bug

#2277 [Distributed] fix client is null cause NullPointerException
  cluster/src/main/java/org/apache/iotdb/cluster/client/DataClientProvider.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/fill/ClusterPreviousFill.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/DataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/DataClientProviderTest.java
Labels: Module - Cluster

#2280 [To rel/0.11] Fix incorrect last result after deleting all data
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBLastIT.java
Labels: bug

#2303 upgrade guava version
  hadoop/pom.xml
  hive-connector/pom.xml
  spark-iotdb-connector/pom.xml
Labels: Improvement, Module - Hadoop, Module - Hive, Module - Spark

#2314 [To rel/0.11][IOTDB-1068] Fix Time series metadata cache bug
  server/src/main/java/org/apache/iotdb/db/engine/cache/TimeSeriesMetadataCache.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
Labels: bug

#2274 refactor metadata test
  server/src/test/java/org/apache/iotdb/db/metadata/PartialPathTest.java
Labels: Module - Schema Manager

#2302 [Distributed]remove useless codes
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
Labels: Module - Cluster

#2324 Fix documents that are not linked to official websites
  site/src/main/.vuepress/config.js
Labels: Module - site

#2311 fix wal buffer size's annotation
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
Labels: Improvement

#2344 Remove extra bracket to make the param annotation take effect
  cluster/src/main/java/org/apache/iotdb/cluster/utils/ClusterUtils.java
Labels: Trivial

#2317 [To rel/0.11] [IOTDB-1069] restrict the flushing memtable number to avoid OOM when mem_control is disabled
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/rescon/MemTableManager.java
  server/src/main/java/org/apache/iotdb/db/rescon/SystemInfo.java
Labels: Module - Storage Engine, bug

#2288 Delete update operation
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  cluster/src/test/java/org/apache/iotdb/cluster/partition/SlotPartitionTableTest.java
  server/src/main/java/org/apache/iotdb/db/auth/AuthorityChecker.java
  server/src/main/java/org/apache/iotdb/db/qp/Planner.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/Operator.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/UpdateOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/UpdatePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/LogReplayer.java
  server/src/test/java/org/apache/iotdb/db/auth/AuthorityCheckerTest.java
  server/src/test/java/org/apache/iotdb/db/writelog/PerformanceTest.java
Labels: Module - Query Processing

#2306 [IOTDB-1065] Fix deletion bug while trying to delete data from a timeseries which contains comma
  server/src/main/java/org/apache/iotdb/db/engine/modification/io/LocalTextModificationAccessor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBDeletionIT.java
Labels: Module - Storage Engine

#2360 fix some typo & make code more understandable
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
Labels: Module - Cluster

#2335 fix concurrent bug of mlogWriter
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/MLogWriter.java
Labels: Module - Schema Manager, bug

#2366 [IOTDB-1070] Add interface `terminate` for UDTF
  docs/UserGuide/Operation Manual/UDF User Defined Function.md
  docs/zh/UserGuide/Operation Manual/UDF User Defined Function.md
  server/src/main/java/org/apache/iotdb/db/query/udf/api/UDTF.java
  server/src/main/java/org/apache/iotdb/db/query/udf/api/collector/PointCollector.java
  server/src/main/java/org/apache/iotdb/db/query/udf/api/customizer/config/UDTFConfigurations.java
  server/src/main/java/org/apache/iotdb/db/query/udf/core/executor/UDTFExecutor.java
  server/src/main/java/org/apache/iotdb/db/query/udf/core/transformer/UDFQueryTransformer.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBUDTFAlignByTimeQueryIT.java
  server/src/test/java/org/apache/iotdb/db/query/udf/example/Max.java
  server/src/test/java/org/apache/iotdb/db/query/udf/example/TerminateTester.java
Labels: Module - UDF

#2334 Move coordinator from meta group member
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConstant.java
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/MetaClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/Timer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/MetaSingleSnapshotLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/DataSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
Labels: Module - Cluster

#2369 Add the trace log level configuration in logback.xml
  server/src/assembly/resources/conf/logback.xml
Labels: Improvement

#2381 [To rel/0.11] print more insert error message in client
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
Labels: Module - Storage Engine

#2332 Reduce image size by 29.74% through lossless compression algorithm
  grafana/img/add_data_source.png
  grafana/img/add_graph.png
  grafana/img/edit_data_source.png
  server/src/main/resources/iotdb/ui/static/iotdb-logo.png
  site/src/main/.vuepress/public/img/contributor-avatar/jlq.png
  site/src/main/.vuepress/public/img/contributor-avatar/kfx.jpeg
  site/src/main/.vuepress/public/img/contributor-avatar/xdh.jpg
  site/src/main/.vuepress/public/img/contributor-avatar/yt.jpg
  site/src/main/.vuepress/public/img/contributor-avatar/zss.jpg
  site/src/main/.vuepress/public/img/home-Slide1.png
  site/src/main/.vuepress/public/img/home-Slide2.png
  site/src/main/.vuepress/public/img/home-Slide3.png
  site/src/main/.vuepress/public/img/home-icon2.png
  site/src/main/.vuepress/public/img/home-icon3.png
  site/src/main/.vuepress/public/img/home-icon4.png
  site/src/main/.vuepress/public/img/home-icon5.png
  site/src/main/.vuepress/public/img/home-icon6.png
  site/src/main/.vuepress/public/img/logo.png
  site/src/main/.vuepress/public/img/tools.jpg
Labels: Module - site

#2393 Change md format in spark
  spark-iotdb-connector/Readme.md
  spark-tsfile/README.md
Labels: Module - Documents

#2383 fix coordinator not init bug after restart
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/MetaClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
Labels: Module - Cluster, bug

#2391 [IOTDB-1096]Checking local node in partitiontable's all nodes or not when restart the node
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
Labels: Module - Cluster, bug

#2315 [IOTDB-1069] restrict the flushing memtable number to avoid OOM when mem_control is disabled
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/rescon/MemTableManager.java
  server/src/main/java/org/apache/iotdb/db/rescon/SystemInfo.java
Labels: Module - Storage Engine, bug

#2396 Downgrade Headings of IoTDB-Zeppelin Documents.
  docs/UserGuide/Ecosystem Integration/Zeppelin-IoTDB.md
  docs/zh/UserGuide/Ecosystem Integration/Zeppelin-IoTDB.md
Labels: Module - Documents

#2399 fix the client document typo
  docs/zh/UserGuide/Client/Command Line Interface.md
Labels: Module - Documents
