Repository apache/iotdb, pull requests merged in 2020-10, with the labels that each got.

#1801 [Distributed] Fix massive session creation
  session/src/main/java/org/apache/iotdb/session/Session.java
Labels: cluster

#1787 [Distributed] Fix a deadlock when concurrently inserting and registering && applier skip remaining logs after a wrong exception && fix test
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/CatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/FilePartitionedSnapshotLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/MetaSingleSnapshotLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/DataHeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
Labels: cluster

#1818 [Distributed] Fix nodetool path doc
  docs/UserGuide/System Tools/NodeTool.md
  docs/zh/UserGuide/System Tools/NodeTool.md
Labels: cluster

#1823 fix some regression bugs
  cluster/src/assembly/resources/conf/iotdb-engine.properties
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/ShowTimeseriesDataSet.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
Labels: cluster

#1826 fix some regression bugs
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/StatusUtils.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
Labels: cluster

#1827 [Distributed]fix code smell
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/Log.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/Snapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/PartitionedSnapshotLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/PullSnapshotTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanner.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/dataset/ClusterAlignByDeviceDataSet.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/manage/QueryCoordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/Timer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/AppendNodeEntryHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/ClusterUtils.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/NodeTool.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterPlannerTest.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/ShowTimeseriesDataSet.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
Labels: cluster

#1784 [IOTDB-921] Solve the statement twice call bug
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBStatement.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSimpleQueryIT.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/utils/ReadWriteIOUtils.java
Labels: need test

#1367 [IOTDB-749] Handle select * from root OOM
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/exception/query/PathNumOverLimitException.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/qp/Planner.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ILogicalOptimizer.java
  server/src/main/java/org/apache/iotdb/db/query/control/QueryResourceManager.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSequenceDataQueryIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSeriesReaderIT.java
  server/src/test/java/org/apache/iotdb/db/metadata/MTreeTest.java
  server/src/test/java/org/apache/iotdb/db/qp/plan/LogicalPlanSmallTest.java
  server/src/test/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
  spark-iotdb-connector/src/test/scala/org/apache/iotdb/spark/db/EnvironmentUtils.java
Labels: memory

#1851 [IOTDB-951] Fix auto-creating schema in parallel may write unrecognizable timeseries in mlog.txt
  server/src/main/java/org/apache/iotdb/db/metadata/MLogWriter.java
Labels: rel/0.11

#1848 Update comment of VersionController
  server/src/main/java/org/apache/iotdb/db/engine/version/VersionController.java
Labels: trival

#1836 [IOTDB-948] Use binary search when checking the follower's match index when catchup
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/CatchUpTaskTest.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
Labels: cluster

#1866 fix some regression bugs
  cluster/src/main/java/org/apache/iotdb/cluster/exception/EmptyIntervalException.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/aggregate/ClusterAggregator.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
Labels: cluster

#1877 fix conf bug
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/RaftServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/ClusterUtils.java
Labels: cluster

#1854 [IOTDB-884] group createMultiTimeseriesPlan by partitionGroup
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/exception/BatchProcessException.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/IPlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
Labels: cluster

#1872 fix takeSnapshot bug
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/FilePartitionedSnapshotLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/MetaSingleSnapshotLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
Labels: cluster

#1846 [IOTDB-872] Use system timezone in CLI (Session)
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBConnection.java
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/qp/Planner.java
  server/src/main/java/org/apache/iotdb/db/qp/constant/DatetimeUtils.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/qp/plan/LogicalPlanSmallTest.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/pool/SessionPool.java
  session/src/test/java/org/apache/iotdb/session/SessionUT.java
  session/src/test/java/org/apache/iotdb/session/pool/SessionPoolTest.java
  thrift/rpc-changelist.md
  thrift/src/main/thrift/rpc.thrift
Labels: rel/0.11

#1902 [Distributed] Fix create multi time series plan serialization
  cluster/src/test/java/org/apache/iotdb/cluster/utils/SerializeUtilTest.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
Labels: cluster

#1856 [IOTDB-938] Re-implement Gorilla encoding algorithm
  LICENSE
  client-cpp/src/main/IOTDBSession.h
  client-py/src/utils/IoTDBConstants.py
  docs/SystemDesign/TsFile/Format.md
  docs/UserGuide/Concept/Encoding.md
  docs/zh/SystemDesign/TsFile/Format.md
  docs/zh/UserGuide/Concept/Encoding.md
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/qp/Planner.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/LogicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/utils/SchemaUtils.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBMultiSeriesIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSimpleQueryIT.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/common/conf/TSFileConfig.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/common/EncodingConfig.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/Decoder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/DoublePrecisionDecoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/DoublePrecisionDecoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/GorillaDecoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/GorillaDecoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/IntGorillaDecoder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/LongGorillaDecoder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/SinglePrecisionDecoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/decoder/SinglePrecisionDecoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/DoublePrecisionEncoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/DoublePrecisionEncoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/GorillaEncoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/GorillaEncoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/IntGorillaEncoder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/LongGorillaEncoder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/SinglePrecisionEncoderV1.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/SinglePrecisionEncoderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/encoding/encoder/TSEncodingBuilder.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/enums/TSEncoding.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/encoding/decoder/GorillaDecoderV1Test.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/encoding/decoder/GorillaDecoderV2Test.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/reader/PageReaderTest.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/utils/TsFileGeneratorForTest.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/write/TsFileReadWriteTest.java
Labels: rel/0.11
