Repository apache/iotdb, pull requests merged in 2021-06, with the labels that each got.

#3319 [To rel/0.12] Fix upgrade tool cannot close file reader
  server/src/main/java/org/apache/iotdb/db/tools/TsFileRewriteTool.java
  server/src/main/java/org/apache/iotdb/db/tools/upgrade/TsFileOnlineUpgradeTool.java
Labels: Module - Upgrade Tool

#3323 Add comments for JMX_LOCAL
  server/src/assembly/resources/conf/iotdb-env.sh
Labels: Module - Documents

#3216 [To rel/0.12]Upgrade libthrift from 0.12.0/0.13.0 to 0.14.1 and updated related classes or files
  LICENSE-binary
  client-cpp/src/main/CMakeLists.txt
  client-cpp/src/test/CMakeLists.txt
  cluster/pom.xml
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncDataClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncDataHeartbeatClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncMetaClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncMetaHeartbeatClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncDataClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncDataHeartbeatClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncMetaClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncMetaHeartbeatClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/sync/SyncDataClientTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/sync/SyncMetaClientTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncClientFactory.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestSyncClientFactory.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/DataSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/PullSnapshotTaskTest.java
  compile-tools/thrift/pom.xml
  jdbc/src/main/feature/feature.xml
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBConnection.java
  pom.xml
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/sync/conf/SyncConstant.java
  server/src/main/java/org/apache/iotdb/db/sync/sender/transfer/SyncClient.java
  server/src/test/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/AutoScalingBufferReadTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/AutoScalingBufferWriteTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcTransportFactory.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TCompressedElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TConfigurationConst.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TNonblockingSocketWrapper.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TSocketWrapper.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  session/src/test/java/org/apache/iotdb/session/pool/SessionPoolTest.java
  session/src/test/resources/logback.xml
Labels: 0.12.1 & 0.13

#3230 [To rel/0.12] Update release note for v0.12.1
  RELEASE_NOTES.md
Labels: 0.12.1

#3228 [To rel/0.11] Update release note for v0.11.4
  RELEASE_NOTES.md
Labels: 0.11.4

#3195 [To rel/0.12] Update force full merge config
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
Labels: 0.12.1 & 0.13

#3329 [To rel/0.12] Fix upgrade NPE and DeadLock
  server/src/main/java/org/apache/iotdb/db/engine/upgrade/UpgradeTask.java
  server/src/main/java/org/apache/iotdb/db/service/UpgradeSevice.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkWriterImpl.java
Labels: Module - Upgrade Tool

#3349 [To rel/0.12] temprorary wait 3 seconds in CliearCacheIT for emergent releasing processing
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBClearCacheIT.java
Labels: 0.12.1

#3348 [rel/0.12] wait for clear cache
  LICENSE-binary
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBClearCacheIT.java
Labels: 0.12.1

#3325 merge CMManager code to MetaPuller
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/ClusterQueryUtils.java
Labels: Module - Cluster

#3364 Remove the broken cached leader connection & optimize the insertRecords method in session
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcUtils.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  session/src/test/java/org/apache/iotdb/session/SessionCacheLeaderUT.java
Labels: 0.12.1, Module - Cluster, Module - Java Client

#3376 [To rel/0.12][ISSUE-3378] Fix NPE when clear upgrade folder; Fix some upgraded pageHeader missing statistics
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/upgrade/UpgradeTask.java
  server/src/main/java/org/apache/iotdb/db/tools/TsFileRewriteTool.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkWriterImpl.java
Labels: Module - Upgrade Tool

#3377 Revert "fix import csv split by comma bug (#3253)"
  cli/src/main/java/org/apache/iotdb/tool/ImportCsv.java
  cli/src/test/java/org/apache/iotdb/tool/CsvLineSplitTest.java
Labels: bug

#3379 Update some English system design documents
  docs/SystemDesign/DataQuery/QueryFundamentals.md
  docs/SystemDesign/QueryEngine/ResultSetConstruction.md
  docs/SystemDesign/SchemaManager/SchemaManager.md
  docs/SystemDesign/StorageEngine/DataPartition.md
  docs/SystemDesign/StorageEngine/FlushManager.md
  docs/SystemDesign/StorageEngine/MergeManager.md
  docs/SystemDesign/StorageEngine/StorageEngine.md
  docs/SystemDesign/StorageEngine/WAL.md
  docs/SystemDesign/TsFile/Format.md
  docs/SystemDesign/TsFile/Read.md
  docs/SystemDesign/TsFile/Write.md
Labels: Module - Documents

#3403 [To Rel/0.12][IOTDB-1437]Fix the tsfile sketch tool NPE
  server/src/main/java/org/apache/iotdb/db/tools/TsFileSketchTool.java
  server/src/test/java/org/apache/iotdb/db/tools/TsFileSketchToolTest.java
  site/src/main/.vuepress/theme/global-components/Contributor.vue
Labels: 0.12.1

#3397 [IOTDB-1437]Fix the tsfile sketch tool NPE
  server/src/main/java/org/apache/iotdb/db/tools/TsFileSketchTool.java
  server/src/test/java/org/apache/iotdb/db/tools/TsFileSketchToolTest.java
  site/src/main/.vuepress/theme/global-components/Contributor.vue
Labels: Tool, bug

#3307 Enable sub headers in docs
  docs/UserGuide/IoTDB-SQL-Language/DDL-Data-Definition-Language.md
  docs/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
  docs/UserGuide/IoTDB-SQL-Language/Maintenance-Command.md
  docs/zh/UserGuide/IoTDB-SQL-Language/DDL-Data-Definition-Language.md
  docs/zh/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
  docs/zh/UserGuide/IoTDB-SQL-Language/Maintenance-Command.md
  site/src/main/.vuepress/config.js
Labels: Module - Documents, Module - site

#3405 User Guide Checking
  docs/zh/UserGuide/API/Programming-Go-Native-API.md
  docs/zh/UserGuide/API/Programming-Java-Native-API.md
  docs/zh/UserGuide/API/Programming-TsFile-API.md
  docs/zh/UserGuide/Advanced-Features/UDF-User-Defined-Function.md
  docs/zh/UserGuide/Appendix/Config-Manual.md
  docs/zh/UserGuide/Appendix/SQL-Reference.md
  docs/zh/UserGuide/Appendix/Status-Codes.md
  docs/zh/UserGuide/Collaboration-of-Edge-and-Cloud/Sync-Tool.md
  docs/zh/UserGuide/Communication-Service-Protocol/Programming-Thrift.md
  docs/zh/UserGuide/Ecosystem Integration/Spark TsFile.md
  docs/zh/UserGuide/Ecosystem Integration/Zeppelin-IoTDB.md
  docs/zh/UserGuide/System-Tools/Load-External-Tsfile.md
  docs/zh/UserGuide/System-Tools/Monitor-and-Log-Tools.md
Labels: Module - Documents

#3421 [To rel/0.12] [IOTDB-1442] Time filter & TTL is not used during the construction of ClusterTimeGenerator
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGenerator.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/BaseQueryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactoryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGeneratorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/BaseMember.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/SeriesRawDataBatchReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/SeriesReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/PriorityMergeReader.java
  server/src/main/java/org/apache/iotdb/db/query/timegenerator/ServerTimeGenerator.java
Labels: Module - Cluster

#3420 [IOTDB-1442] Time filter & TTL is not used during the construction of ClusterTimeGenerator
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGenerator.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/BaseQueryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactoryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGeneratorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/BaseMember.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/SeriesRawDataBatchReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/SeriesReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/PriorityMergeReader.java
  server/src/main/java/org/apache/iotdb/db/query/timegenerator/ServerTimeGenerator.java
Labels: Module - Cluster

#3423 Update the download links for new versions
  docs/Download/README.md
Labels: Module - site

#3428 [To rel/0.12] avoiding compaction to fix ci bug
  client-cpp/pom.xml
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/FileSnapshotTest.java
  compile-tools/pom.xml
  distribution/pom.xml
  example/client-cpp-example/pom.xml
  example/udf/pom.xml
  grafana/pom.xml
  jdbc/pom.xml
  pom.xml
Labels: Module - Cluster

#3204 [IOTDB-1340] Add DBeaver-IoTDB user guide
  docs/UserGuide/Ecosystem Integration/DBeaver.md
  docs/zh/UserGuide/Ecosystem Integration/DBeaver.md
Labels: Module - Documents

#3233 Update TSDB-comparison doc and `Merge` command doc
  docs/UserGuide/Comparison/TSDB-Comparison.md
  docs/UserGuide/IoTDB-SQL-Language/Maintenance-Command.md
  docs/zh/UserGuide/IoTDB-SQL-Language/Maintenance-Command.md
Labels: Module - Documents

#3429 [To rel/0.12][IOTDB-1447] ClientPool is blocking other nodes when one node fails
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
Labels: Module - Cluster

#3442 [Cluster] update cluster-setup docs
  docs/UserGuide/Cluster/Cluster-Setup-Example.md
  docs/UserGuide/Cluster/Cluster-Setup.md
  docs/zh/UserGuide/Cluster/Cluster-Setup-Example.md
  docs/zh/UserGuide/Cluster/Cluster-Setup.md
Labels: Module - Cluster

#3453 update Materials page's pdf from "myslide.cn" to "slidestalk.com"
  docs/Community/Materials.md
Labels: Module - Documents

#3430 [IOTDB-1447] ClientPool is blocking other nodes when one node fails
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
Labels: Module - Cluster

#3275 cluster bug - fix privilege check
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/integration/SingleNodeTest.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/BatchPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
Labels: Module - Cluster

#3460 [To rel/0.12][Cluster][Cherry-Pick] write perfromance optimization when replicaNum == 1 && fix a query concurrent bug when query multi timeseries && remove no-merge info log
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/CommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/RemoteMultSeriesReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/no/NoCompactionTsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
Labels: Module - Cluster
