Repository apache/iotdb, pull requests merged in 2021-11, with the labels that each got.

#4206 [To rel/0.12] [IOTDB-1872 IOTDB-1902 IOTDB-1903] Fix data increases abnormally after IoTDB restarts
  RELEASE_NOTES.md
  client-cpp/pom.xml
  compile-tools/pom.xml
  distribution/pom.xml
  example/client-cpp-example/pom.xml
  example/udf/pom.xml
  grafana/pom.xml
  jdbc/pom.xml
  pom.xml
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/engine/compaction/CompactionStrategy.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/TsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/level/LevelCompactionTsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/no/NoCompactionTsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/utils/CompactionFileInfo.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/utils/CompactionLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/utils/CompactionLogger.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/manage/MergeResource.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/recover/MergeFileInfo.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/recover/MergeLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/recover/MergeLogger.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeFileTask.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeMultiChunkTask.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeTask.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/RecoverMergeTask.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/tools/TsFileSketchTool.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/TsFileRecoverPerformer.java
  server/src/test/java/org/apache/iotdb/db/constant/TestConstant.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionCacheTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionLogTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionMergeTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionModsTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionMoreDataTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionRecoverTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionSelectorTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionTsFileManagementTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/NoCompactionTsFileManagementTest.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/writer/RestorableTsFileIOWriter.java
Labels: 0.12.3

#4244 [IOTDB-1745] Metagroup snapshots support template
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/MetaSingleSnapshotLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshot.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/utils/CreateTemplatePlanUtil.java
  server/src/main/java/org/apache/iotdb/db/metadata/template/Template.java
  server/src/main/java/org/apache/iotdb/db/metadata/template/TemplateManager.java
Labels: Module - Cluster

#4292 [IOTDB-1775] CAST: data type conversion function
  docs/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
  docs/zh/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
  server/src/main/java/org/apache/iotdb/db/query/udf/builtin/BuiltinFunction.java
  server/src/main/java/org/apache/iotdb/db/query/udf/builtin/UDTFCast.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBUDTFBuiltinFunctionIT.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
Labels: Module - UDF

#4363 [To rel.0.12][IoTDB-1865]【Cluster】Compaction is blocking when removing old files
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/DataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultDataSourceInfo.java
  server/src/main/java/org/apache/iotdb/db/query/control/QueryFileManager.java
Labels: Module - Cluster, Module - Compaction

#4365 [IoTDB-1865]【Cluster】Compaction is blocking when removing old files
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/DataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultDataSourceInfo.java
  server/src/main/java/org/apache/iotdb/db/query/control/QueryFileManager.java
Labels: Module - Cluster

#4341 [IoTDB-1966] Tool for separating e2E test logs from different nodes
  testcontainer/src/tool/README.md
  testcontainer/src/tool/parser.py
Labels: Module - Cluster

#4416 [IOTDB-2025] Fix count nodes and devices incorrectly in cluster
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBMetadataFetchIT.java
Labels: Module - Cluster

#4242 Refactor the todf() function of client-py to improve performance
  client-py/SessionExample.py
  client-py/iotdb/utils/BitMap.py
  client-py/iotdb/utils/IoTDBConstants.py
  client-py/iotdb/utils/IoTDBRpcDataSet.py
  client-py/iotdb/utils/SessionDataSet.py
  client-py/iotdb/utils/Tablet.py
  client-py/tests/tablet_performance_comparison.py
  client-py/tests/test_dataframe.py
  client-py/tests/test_todf.py
Labels: Module - Python Client

#4417 add javadoc for cluster
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/PullSnapshotTaskDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/NodeAdditionResult.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/NodeRemovalResult.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/PartitionGroup.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/PartitionTable.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/balancer/DefaultSlotBalancer.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/balancer/SlotBalancer.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotNodeAdditionResult.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotPartitionTable.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotStrategy.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotTimePartitionFilter.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/aggregate/ClusterAggregator.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/fill/ClusterPreviousFill.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/last/ClusterLastQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/PullSnapshotHintService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/StoppedMemberManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataGroupEngine.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/ClusterMonitor.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/function/Slot.java
  cluster/src/test/java/org/apache/iotdb/cluster/partition/SlotPartitionTableTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/MetaHeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/BaseMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/RaftMemberTest.java
Labels: Module - Cluster

#4425 [IOTDB-2016][metric] Fix ClassCastException when create new metric types
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricManager.java
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/type/DropwizardHistogram.java
  metrics/dropwizard-metrics/src/test/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricManagerTest.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/MetricManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/impl/DoNothingHistogram.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Histogram.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/MicrometerMetricManager.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/type/MicrometerHistogram.java
  metrics/micrometer-metrics/src/test/java/org/apache/iotdb/metrics/micrometer/MicrometerMetricManagerTest.java
Labels: Module - Metrics

#4388 [IOTDB-2010] fix incomplete show timeseries result
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/ShowTimeSeriesHandler.java
Labels: Module - Cluster
