Repository apache/iotdb, pull requests merged in 2021-07, with the labels that each got.

#3476 cherry pick to 0.12 cluster exe batch bug
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/integration/SingleNodeTest.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/BatchPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
Labels: Module - Cluster

#3468 [Cluster] enable cacheLeader by default
  cli/src/main/java/org/apache/iotdb/tool/ImportCsv.java
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  session/src/main/java/org/apache/iotdb/session/Config.java
  session/src/main/java/org/apache/iotdb/session/Session.java
Labels: Module - Cluster, Module - Java Client

#3508 [To rel/0.12] Primitive Array Manager v3
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/rescon/PrimitiveArrayManager.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/TVList.java
Labels: 0.12.2

#3502 [IOTDB-1463] Implement builder pattern for Session and SessionPool
  docs/UserGuide/API/Programming-Java-Native-API.md
  docs/zh/UserGuide/API/Programming-Java-Native-API.md
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  example/session/src/main/java/org/apache/iotdb/SessionPoolExample.java
  session/src/main/java/org/apache/iotdb/session/Config.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/pool/SessionPool.java
  session/src/test/java/org/apache/iotdb/session/SessionTest.java
  session/src/test/java/org/apache/iotdb/session/pool/SessionPoolTest.java
Labels: Module - Java Client

#3434 [IOTDB-1399]Add a session interface to connect multiple nodes
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  session/src/main/java/org/apache/iotdb/session/SessionUtils.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionComplexIT.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/ClusterSessionSimpleIT.java
Labels: Module - Cluster

#3469 [Cluster][To rel/0.12] enable cacheLeader by default
  cli/src/main/java/org/apache/iotdb/tool/ImportCsv.java
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  session/src/main/java/org/apache/iotdb/session/Config.java
  session/src/main/java/org/apache/iotdb/session/Session.java
Labels: Module - Cluster, Module - Java Client

#3292 [IOTDB-1407] Filtering time series based on tags query fails Occasion…
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncDataClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterPlanExecutorTest.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: 0.12.2, Module - Cluster

#3532 Fix cluster auto create schema bug when retry locally
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/MetaClusterServer.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/service/IoTDB.java
  session/src/main/java/org/apache/iotdb/session/Session.java
Labels: 0.12.2, Module - Cluster

#3537 [IOTDB-1454] Fix wrong figure for index tree
  docs/SystemDesign/TsFile/Format.md
  docs/zh/SystemDesign/TsFile/Format.md
Labels: Module - Documents

#3540 [To rel/0.12][IOTDB-1482] Fix Count Timeseries and Count Devices with Template Bug
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/test/java/org/apache/iotdb/db/metadata/MManagerBasicTest.java
Labels: 0.12.2, Module - Cluster

#3538 [To rel/0.12][IOTDB-1488] Fix metaMember's forwarding clientPool timeout in cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/client/DataClientProvider.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/MetaClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/BaseAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/BaseSyncService.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  thrift-cluster/src/main/thrift/cluster.thrift
Labels: 0.12.2, Module - Cluster

#3547 improve compatibility from 0.12.1 to 0.12.2
  server/src/main/java/org/apache/iotdb/db/qp/logical/Operator.java
Labels: 0.12.2

#3480 [IOTDB-1416] Maintanance command support in cluster mode
  cluster/src/main/java/org/apache/iotdb/cluster/utils/PartitionUtils.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/MetaLogApplierTest.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/ClearCachePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateSnapshotPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/MergePlan.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#3560 [IOTDB-1483]Temporarily adapt the template functionality and merge functionality
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
Labels: Module - Compaction, Module - Schema Manager

#3503 [IOTDB-1417] UDF meta plans for cluster
  cluster/src/main/java/org/apache/iotdb/cluster/utils/PartitionUtils.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateFunctionPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/DropFunctionPlan.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/PhysicalPlanTest.java
  testcontainer/pom.xml
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#3557 [To rel/0.12][IOTDB-1492] Fix mLogParser.sh cannot parse the device template
  docs/SystemDesign/SchemaManager/SchemaManager.md
  docs/zh/SystemDesign/SchemaManager/SchemaManager.md
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/MetadataOperationType.java
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/MLogTxtWriter.java
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/TagLogFile.java
  server/src/main/java/org/apache/iotdb/db/tools/mlog/MLogParser.java
  server/src/test/java/org/apache/iotdb/db/tools/MLogParserTest.java
Labels: Module - Schema Manager, ready review

#3474 [IOTDB-1456] Fix Error occurred while executing delete timeseries statement
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#3595 Add SessionConcurrentExample & Fix template restart PathNotExistException
  example/session/src/main/java/org/apache/iotdb/SessionConcurrentExample.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
Labels: 0.13, Hot-Fix

#3600 [To rel/0.12][IOTDB-1456] Fix Error occurred while executing delete timeseries sta…
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
Labels: Module - Cluster

#3593 [To rel/0.12] modify nodeTool user to root
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/function/NodeToolCmd.java
Labels: 0.12.2, Module - Cluster, Tool

#3067 [IOTDB-1059] Support sql statement insert without timestamp
  antlr/src/main/antlr4/org/apache/iotdb/db/qp/sql/SqlBase.g4
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBInsertWithoutTimeIT.java
Labels: 0.13

#3579 [IOTDB-1503] 1 node crash causes whole cluster cannot work
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/aggregate/ClusterAggregator.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/fill/ClusterPreviousFill.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/groupby/RemoteGroupByExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/last/ClusterLastQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/DataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/RemoteSeriesReaderByTimestamp.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/RemoteSimpleSeriesReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultDataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/RemoteMultSeriesReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThread.java
Labels: Module - Cluster

#3556 [IOTDB-1509] show timeseries throw a bug
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
Labels: Module - Cluster

#3580 [To rel/0.12]Fix thrift out of sequence in cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/query/last/ClusterLastQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
Labels: 0.12.2, Module - Cluster, Module - RPC

#3639 [IOTDB-1532] CI fails on testSelectInto() in E2E test
  server/src/main/java/org/apache/iotdb/db/engine/selectinto/InsertTabletPlanGenerator.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSelectIntoIT.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster
