Repository apache/iotdb, pull requests merged in 2021-03, with the labels that each got.

#2707 [ISSUE-2709,IOTDB-1178] Fix cache not cleared after unseq compaction bug, Fix windows 70,10 ci bug in unseq compaction ci
  server/src/main/java/org/apache/iotdb/db/engine/compaction/level/LevelCompactionTsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeFileTask.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionCacheTest.java
Labels: 0.11.3, 0.12.0

#2739 [ISSUE-2746] Fix data overlapped bug after unseq compaction
  server/src/main/java/org/apache/iotdb/db/engine/merge/manage/MergeResource.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/selector/MaxFileMergeFileSelector.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileResource.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MaxFileMergeFileSelectorTest.java
Labels: 0.11.3, 0.12.0

#2745 Make the Wal buffer pool parameters to be configurable
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
Labels: 0.12.0

#2753 Extract the common codes to one utils class & Reduce the content of debug log printing of the InsertRowsPlan
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/DeleteTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/utils/StatusUtils.java
Labels: 0.12.0, Module - Cluster

#2757 [ISSUE-2741] getObject method in JDBC should return an Object
  jdbc/src/main/java/org/apache/iotdb/jdbc/AbstractIoTDBJDBCResultSet.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBJDBCResultSet.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBNonAlignJDBCResultSet.java
  jdbc/src/test/java/org/apache/iotdb/jdbc/IoTDBJDBCResultSetTest.java
Labels: 0.11.3, 0.12.0, Module - JDBC

#2760 [To rel/0.11] cherry-pick getObject method in JDBC should return an Object
  jdbc/src/main/java/org/apache/iotdb/jdbc/AbstractIoTDBJDBCResultSet.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBJDBCResultSet.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBNonAlignJDBCResultSet.java
  jdbc/src/test/java/org/apache/iotdb/jdbc/IoTDBJDBCResultSetTest.java
Labels: 0.11.3

#2725 [IOTDB-1164]Optimize the executeBatch interface in JDBC
  server/src/main/java/org/apache/iotdb/db/cost/statistic/Operation.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBExecuteBatchIT.java
Labels: Module - Cluster

#2759 [ISSUE-2758] NullPointerException in QueryTimeManager.checkQueryAlive()
  server/src/main/java/org/apache/iotdb/db/query/control/QueryTimeManager.java
Labels: 0.12.0

#2766 [IOTDB-1118] [Distributed] Limit query log lag in mid consistency level
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/exception/CheckConsistencyException.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
Labels: Module - Cluster

#2756 [To rel/0.11] Add max direct memory size parameter to env.sh
  server/src/assembly/resources/conf/iotdb-env.bat
  server/src/assembly/resources/conf/iotdb-env.sh
Labels: 0.11.3

#2778 [IOTDB-1186] Remove redundant sync meta leader in query process for cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGenerator.java
Labels: Module - Cluster

#2781 [IOTDB-1188][To rel/0.11]Fix IoTDB 0.11 unable to delete data bug
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBDeletionIT.java
Labels: 0.11.3

#2797 [IOTDB-1204] set parameter in iotdb-cluster.properties
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
Labels: Module - Cluster

#2796 [C++ Client]Update cpp client build doc
  client-cpp/README.md
  example/client-cpp-example/README.md
Labels: Module - Documents

#2787 [IOTDB-1193] Remove redundant sync meta leader in CManager for cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPhysicalGenerator.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
Labels: Module - Cluster

#2807 [IOTDB-1208] revise the cluster setup docs
  docs/UserGuide/Server/Cluster Setup.md
  docs/zh/UserGuide/Server/Cluster Setup.md
Labels: Module - Cluster

#2816 [IOTDB-1218]Persist the system properties of cluster version
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
Labels: Module - Cluster

#2829 fix test executor error
  cluster/src/test/java/org/apache/iotdb/cluster/client/DataClientProviderTest.java
Labels: Module - Cluster

#2846 [To rel/0.11] Change Query debug log for deletion and last
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/MeasurementMNode.java
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
Labels: 0.11.3

#2801 [To 0.11] fix unseq compaction loss data bug after delete operation
  server/src/main/java/org/apache/iotdb/db/engine/merge/manage/MergeResource.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeFileTask.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeMultiChunkTask.java
Labels: 0.11.3

#2859 Optimize cluster query
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/EmptyReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/MergedReaderByTime.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/RemoteSeriesReaderByTimestamp.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncDataClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestManagedSeriesReader.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/manage/ClusterQueryManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/RemoteSeriesReaderByTimestampTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/AggregateResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/AvgAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/CountAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/FirstValueAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/FirstValueDescAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/LastValueAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/LastValueDescAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MaxTimeAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MaxTimeDescAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MaxValueAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MinTimeAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MinTimeDescAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/MinValueAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/aggregation/impl/SumAggrResult.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/RawQueryDataSetWithValueFilter.java
  server/src/main/java/org/apache/iotdb/db/query/executor/AggregationExecutor.java
  server/src/main/java/org/apache/iotdb/db/query/externalsort/adapter/ByTimestampReaderAdapter.java
  server/src/main/java/org/apache/iotdb/db/query/reader/chunk/DiskChunkReaderByTimestamp.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/IReaderByTimestamp.java
  server/src/main/java/org/apache/iotdb/db/query/reader/series/SeriesReaderByTimestamp.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/query/reader/series/SeriesReaderByTimestampTest.java
  thrift/src/main/thrift/cluster.thrift
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/dataset/DataSetWithTimeGenerator.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/dataset/QueryDataSet.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/timegenerator/TimeGenerator.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/timegenerator/node/AndNode.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/timegenerator/node/OrNode.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/reader/FakedTimeGenerator.java
Labels: Module - Cluster

#2813 [IOTDB-1214] Add Flink-IoTDB documents
  docs/UserGuide/Ecosystem Integration/Flink IoTDB.md
  docs/UserGuide/Ecosystem Integration/Flink TsFile.md
  docs/zh/UserGuide/Ecosystem Integration/Flink IoTDB.md
  docs/zh/UserGuide/Ecosystem Integration/Flink Tsfile.md
  site/src/main/.vuepress/config.js
Labels: Module - Documents

#2886 [IOTDB-1251] optimize route intervals
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/groupby/RemoteGroupByExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
Labels: Module - Cluster

#2809 [IOTDB-1207]Open time partition causes stackoverflow
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
Labels: Module - Cluster

#2866 [IOTDB-1240]support show node command in cluster version
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/GetChildNodeNextLevelHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptorTest.java
  thrift/src/main/thrift/cluster.thrift
Labels: Module - Cluster

#2892 [IOTDB-1255] refactor cluster package and jar name
  cluster/pom.xml
Labels: Module - Cluster

#2887 [IOTDB-1252] optimize test mult-times perform
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncDataClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/BaseQueryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/BaseMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/RaftMemberTest.java
Labels: Module - Cluster

#2899 [Distributed] Update cluster setup example after changing artifactId in cluster module
  docs/UserGuide/Server/Cluster Setup.md
  docs/zh/UserGuide/Server/Cluster Setup.md
Labels: Module - Cluster, Module - Documents

#2894 IOTDB-1250 fix pull schema bug
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/utils/CompactionUtils.java
Labels: Module - Cluster

#2879 IOTDB-854 Limit the memory foorprint of the committed log cache
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/Log.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/CommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestUtils.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
Labels: Module - Cluster

#2867 IOTDB-1241 support redirect query for cluster
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/aggregate/ClusterAggregateExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/groupby/ClusterGroupByVFilterDataSet.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGenerator.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGeneratorTest.java
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/QueryPlan.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/AlignByDeviceDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/RawQueryDataSetWithoutValueFilter.java
  server/src/main/java/org/apache/iotdb/db/query/executor/RawDataQueryExecutor.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/RedirectException.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  thrift/src/main/thrift/rpc.thrift
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/query/dataset/QueryDataSet.java
Labels: Module - Cluster, Module - Query Processing

#2875 [IOTDB-1117][Distributed]Batched creation and fetch of RemoteSeriesRe…
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/AbstractMultPointReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/AssignPathManagedMergeReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/AssignPathPriorityMergeReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/IMultBatchReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultBatchReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultDataSourceInfo.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultEmptyReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/MultSeriesRawDataPointReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/RemoteMultSeriesReader.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncDataClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/mult/AssignPathManagedMergeReaderTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/mult/MultSeriesRawDataPointReaderTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/mult/RemoteMultSeriesReaderTest.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/CachedPriorityMergeReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/DescPriorityMergeReader.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/Element.java
  server/src/main/java/org/apache/iotdb/db/query/reader/universal/PriorityMergeReader.java
  thrift/src/main/thrift/cluster.thrift
Labels: Module - Cluster

#2872 [IOTDB-1236] Improve jdbc performance for creating timeseries in cluster module
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBExecuteBatchIT.java
Labels: Module - Cluster

#2918 Fix Add Operation
  server/src/main/java/org/apache/iotdb/db/cost/statistic/Operation.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
Labels: Improvement

#2902 [IOTDB-1248] forward the pull schema request to the leader
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
Labels: Module - Cluster

#2929 [IOTDB-1260] optimize time_range query because syncMetaLeader
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
Labels: Module - Cluster

#2940 [Distributed] Fix show remote timeseries serialization
  server/src/main/java/org/apache/iotdb/db/query/dataset/ShowTimeSeriesResult.java
Labels: Module - Cluster

#2943 [IOTDB-1260] optimize time_range query because syncMetaLeader
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
Labels: Module - Cluster

#2949 [IOTDB-1265] fix bug: correct cluster to iotdb-cluster
  distribution/pom.xml
  distribution/src/assembly/cluster.xml
Labels: Module - Cluster

#2939 [ISSUE-2730] Add the number of unseq merge times in TsFile name.
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConstant.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/TsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/level/LevelCompactionTsFileManagement.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeFileTask.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileResource.java
  server/src/main/java/org/apache/iotdb/db/utils/FilePathUtils.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/CompactionChunkTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionMoreDataTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionRecoverTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionTsFileManagementTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/NoCompactionTsFileManagementTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MaxFileMergeFileSelectorTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeOverLapTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeTaskTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeTest.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBRemovePartitionIT.java
Labels: Module - Compaction, Module - Storage Engine

#2904 [IOTDB-1257] Make a little bit improvement of config and fix some bugs for setting logic
  jdbc/src/main/java/org/apache/iotdb/jdbc/Config.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBConnection.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBConnectionParams.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/Utils.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/sync/sender/transfer/SyncClient.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcTransportFactory.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcUtils.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TCompressedElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TSnappyElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TimeoutChangeableTFastFramedTransport.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
Labels: Module - Cluster, Module - RPC
