Repository apache/iotdb, pull requests merged in 2021-01, with the labels that each got.

#2359 Refactor cluster node status management
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientPool.java
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/catchup/CatchUpTask.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/manage/QueryCoordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/DataClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/MetaClusterServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/AppendNodeEntryHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/monitor/NodeReport.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/monitor/NodeStatus.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/monitor/NodeStatusManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/monitor/Peer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/monitor/Timer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/MetaAsyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/MetaSyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/ClusterMonitor.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/CatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/SnapshotCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/DataSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/PullSnapshotTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/BaseQueryTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/manage/QueryCoordinatorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/AppendNodeEntryHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/DataHeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/MetaHeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  thrift/src/main/thrift/cluster.thrift
Labels: Module - Cluster

#2404 fix metaGroupMember bug when follower foward non-query plan to leader
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
Labels: Module - Cluster, bug

#2401 [IOTDB-1082] Update MetadataIndexTree structure for v0.12
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/MetadataIndexConstructor.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/MetadataIndexNode.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/TsFileSequenceReaderTest.java
Labels: Module - TsFile

#2316 [IOTDB-1068] Fix Time series metadata cache bug
  server/src/main/java/org/apache/iotdb/db/engine/cache/TimeSeriesMetadataCache.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/TimeSeriesMetadataReadTest.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/utils/FileGenerator.java
Labels: bug

#2415 fix merge bug for #2404
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
Labels: Module - Cluster, bug

#2394 Split the condition for waitPrevLog into multiple conditions
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/CommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/UnCommittedEntryManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
Labels: Module - Cluster

#2421 Make serialization pool in LogDispatcher static to reduece the number of pools
  cluster/src/main/java/org/apache/iotdb/cluster/log/LogDispatcher.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/RaftServer.java
  cluster/src/test/java/org/apache/iotdb/cluster/integration/SingleNodeTest.java
Labels: Module - Cluster

#2427 fix the case that column length is not right in CLI when the value contains Chinese characters
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
  cli/src/main/java/org/apache/iotdb/cli/Cli.java
  cli/src/main/java/org/apache/iotdb/cli/WinCli.java
  cli/src/main/java/org/apache/iotdb/cli/utils/IoTPrinter.java
Labels: Module - CLI

#2432 make the analyse startup check more understandable when build the cluster
  cluster/src/main/java/org/apache/iotdb/cluster/utils/ClusterUtils.java
Labels: Module - Cluster

#2423 Remove EnvironmentUtil in the cluster module and optimize UT
  cluster/pom.xml
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConstant.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThread.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/EnvironmentUtils.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/IoTDBTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/integration/BaseSingleNodeTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/CommitLogCallbackTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/CommitLogTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/LogDispatcherTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/CatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/LogCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/catchup/SnapshotCatchUpTaskTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/DataSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/partition/SlotManagerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/partition/SlotPartitionTableTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterAggregateExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterFillExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterPlanExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterQueryRouterTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/groupby/ClusterGroupByNoVFilterDataSetTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/groupby/ClusterGroupByVFilterDataSetTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/groupby/MergeGroupByExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/groupby/RemoteGroupByExecutorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/ClusterTimeGeneratorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/DatasourceInfoTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/RemoteSeriesReaderByTimestampTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/reader/RemoteSimpleSeriesReaderTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/AppendGroupEntryHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/AppendNodeEntryHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/ElectionHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/LogCatchUpHandlerTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MemberTest.java
  server/src/main/java/org/apache/iotdb/db/query/control/QueryFileManager.java
  server/src/main/java/org/apache/iotdb/db/service/RegisterManager.java
Labels: Module - Cluster

#2283 Add monitor and qp tests
  server/src/main/java/org/apache/iotdb/db/monitor/MonitorConstants.java
  server/src/main/java/org/apache/iotdb/db/monitor/StatMonitor.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/sys/RemoveFileOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/sys/TracingOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/AlterTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/AuthorPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/ShowTimeSeriesPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/utils/DatetimeUtils.java
  server/src/main/java/org/apache/iotdb/db/query/udf/api/customizer/strategy/SlidingTimeWindowAccessStrategy.java
  server/src/main/java/org/apache/iotdb/db/service/IoTDB.java
  server/src/main/java/org/apache/iotdb/db/tools/IoTDBDataDirViewer.java
  server/src/main/java/org/apache/iotdb/db/tools/TsFileResourcePrinter.java
  server/src/main/java/org/apache/iotdb/db/tools/watermark/WatermarkDetector.java
  server/src/test/java/org/apache/iotdb/db/monitor/IoTDBStatMonitorTest.java
  server/src/test/java/org/apache/iotdb/db/qp/PlannerTest.java
  server/src/test/java/org/apache/iotdb/db/qp/logical/IndexLogicalPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/logical/LogicalPlanSmallTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/ConcatOptimizerTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/IndexSubMatchingPhysicalPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/IndexWholeMatchingPhysicalPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/PhysicalPlanSerializeTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/PhysicalPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/SerializationTest.java
  server/src/test/java/org/apache/iotdb/db/qp/sql/DatetimeQueryDataSetUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/qp/sql/IoTDBsqlVisitorTest.java
  server/src/test/java/org/apache/iotdb/db/qp/utils/DatetimeQueryDataSetUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/query/control/TracingManagerTest.java
  server/src/test/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
Labels: Module - Query Processing

#2461 set the log is applied when the exception occurred during applying
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
Labels: Module - Cluster, bug

#2322 Allow compression buffer to oversize maxLength during compression and shrink it later
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcUtils.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TCompressedElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TSnappyElasticFramedTransport.java
Labels: Module - RPC

#2227 Add Thrift compiler related issues in README
  README.md
  README_ZH.md
Labels: Module - Documents

#2463 remove duplicate paramas in server script
  cluster/src/assembly/resources/sbin/start-node.sh
  server/src/assembly/resources/sbin/start-server.sh
Labels: Improvement

#2489 fix the apply bug in raftLogManager
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/manage/RaftLogManagerTest.java
Labels: Module - Cluster, bug

#2496 [IOTDB-1110] OS=Windows and the assembly descriptor contains /
  cluster/pom.xml
  cluster/src/assembly/cluster.xml
Labels: Module - Cluster

#2486 use AutoScalingBuffer to replace the TByteBuffer in TCompressedElasticFramedTransport
  service-rpc/src/main/java/org/apache/iotdb/rpc/AutoResizingBuffer.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/AutoScalingBufferReadTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/AutoScalingBufferWriteTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/RpcUtils.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TCompressedElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TElasticFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TimeoutChangeableTFastFramedTransport.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TimeoutChangeableTSnappyFramedTransport.java
Labels: Module - Cluster

#2483 Add authentication in the node tool and modify the node tools doc
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/function/NodeToolCmd.java
  docs/UserGuide/System Tools/NodeTool.md
  docs/zh/UserGuide/System Tools/NodeTool.md
  server/src/assembly/resources/conf/iotdb-env.bat
  server/src/assembly/resources/conf/iotdb-env.sh
Labels: Module - Cluster, Module - Documents, bug

#2491 support only left bracket
  antlr/src/main/antlr4/org/apache/iotdb/db/qp/sql/SqlBase.g4
  server/src/test/java/org/apache/iotdb/db/qp/physical/PhysicalPlanTest.java
Labels: Module - SQL

#2502 remove duplicate codes in the ClusterPlanExecutor and remove duplicate params of script
  cluster/src/assembly/resources/sbin/add-node.sh
  cluster/src/assembly/resources/sbin/start-node.sh
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  server/src/assembly/resources/sbin/start-server.sh
  server/src/assembly/resources/tools/start-WalChecker.sh
Labels: Module - Cluster

#2454 [IOTDB-1099] Optimize insertablets logic in cluster module
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/DataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/IPlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/Operator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertMultiTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertTabletMultiPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertTabletPlanTest.java
Labels: Improvement, Module - Cluster

#2405 [IOTDB-1079] Virtual storage group first mile stone
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterFileFlushPolicy.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/filter/SlotTsFileFilter.java
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfigCheck.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeTask.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/virtualSg/HashVirtualPartitioner.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/virtualSg/VirtualPartitioner.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/virtualSg/VirtualStorageGroupManager.java
  server/src/main/java/org/apache/iotdb/db/monitor/StatMonitor.java
  server/src/main/java/org/apache/iotdb/db/tools/virtualsg/DeviceMappingViewer.java
  server/src/test/java/org/apache/iotdb/db/engine/cache/ChunkMetadataCacheTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeLogTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeOverLapTest.java
  server/src/test/java/org/apache/iotdb/db/engine/merge/MergeTaskTest.java
  server/src/test/java/org/apache/iotdb/db/engine/modification/DeletionFileNodeTest.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessorTest.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/TTLTest.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/virtualSg/HashVirtualPartitionerTest.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBCompleteIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBLoadExternalTsfileIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBMultiDeviceIT.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBRestartIT.java
  server/src/test/java/org/apache/iotdb/db/monitor/IoTDBStatMonitorTest.java
  server/src/test/java/org/apache/iotdb/db/sync/receiver/load/FileLoaderTest.java
  server/src/test/java/org/apache/iotdb/db/sync/receiver/recover/SyncReceiverLogAnalyzerTest.java
  server/src/test/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
Labels: ready review

#2514 fix nullpointerException when Measurements was maked failed in TsFileProcessor
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
Labels: bug

#2358 [IOTDB-1084] Fix temporary memory of flushing may cause OOM
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/engine/flush/MemTableFlushTask.java
  server/src/main/java/org/apache/iotdb/db/rescon/SystemInfo.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkWriterImpl.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/IChunkWriter.java
Labels: Module - Storage Engine

#2527 [Distributed] Fix asyncManager redundant init
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncClientFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/async/AsyncDataClient.java
Labels: Module - Cluster

#2524 Try to fix remove partition IT problem
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
Labels: In Progress

#2526 IOTDB-1111 load configuration -global command do not support
  cluster/pom.xml
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPhysicalGenerator.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/LoadConfigurationTest.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
Labels: Module - Cluster

#2531 Add the user guide for upgrading v0.11 to v0.12
  docs/Download/README.md
  docs/zh/Download/README.md
Labels: Module - Documents

#2536 Fix upgrade recover bug when system crash but some upgraded files have not moved to normal folders
  server/src/main/java/org/apache/iotdb/db/engine/upgrade/UpgradeTask.java
  server/src/main/java/org/apache/iotdb/db/utils/UpgradeUtils.java
Labels: Module - Upgrade Tool, bug

#2520 Add workload manager
  grafana/pom.xml
  jdbc/pom.xml
  pom.xml
  server/src/assembly/resources/conf/logback.xml
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByWithValueFilterDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByWithoutValueFilterDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/executor/AggregationExecutor.java
  server/src/main/java/org/apache/iotdb/db/query/workloadmanager/WorkloadManager.java
  server/src/main/java/org/apache/iotdb/db/query/workloadmanager/queryrecord/AggregationQueryRecord.java
  server/src/main/java/org/apache/iotdb/db/query/workloadmanager/queryrecord/GroupByQueryRecord.java
  server/src/main/java/org/apache/iotdb/db/query/workloadmanager/queryrecord/QueryRecord.java
  server/src/main/java/org/apache/iotdb/db/query/workloadmanager/queryrecord/QueryRecordType.java
Labels: Experimental

#2503 Support brackets with number in timeseries path
  antlr/src/main/antlr4/org/apache/iotdb/db/qp/sql/SqlBase.g4
  server/src/test/java/org/apache/iotdb/db/qp/physical/PhysicalPlanTest.java
Labels: Module - SQL

#2501 Add a specification of the character that supported in time series name
  docs/UserGuide/Concept/Data Model and Terminology.md
  docs/UserGuide/Operation Manual/DDL Data Definition Language.md
  docs/zh/UserGuide/Concept/Data Model and Terminology.md
  docs/zh/UserGuide/Operation Manual/DDL Data Definition Language.md
Labels: Module - Documents

#2281 IOTDBConnection.java commit
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBConnection.java
Labels: Module - JDBC

#2264 [IOTDB-1055] Support data compression type GZIP
  antlr/src/main/antlr4/org/apache/iotdb/db/qp/sql/SqlBase.g4
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBCompressTypeIT.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/compress/ICompressor.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/compress/IUnCompressor.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/compress/GZIPTest.java
Labels: Module - TsFile

#2222 [Distributed] fix session cache leader interface and docs
  cluster/src/main/java/org/apache/iotdb/cluster/partition/PartitionTable.java
  docs/UserGuide/Client/Programming - Native API.md
  docs/UserGuide/Server/Cluster Setup.md
  docs/zh/UserGuide/Client/Programming - Native API.md
  docs/zh/UserGuide/Server/Cluster Setup.md
  session/src/main/java/org/apache/iotdb/session/Config.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  session/src/main/java/org/apache/iotdb/session/pool/SessionPool.java
  session/src/test/java/org/apache/iotdb/session/SessionCacheLeaderUT.java
  session/src/test/java/org/apache/iotdb/session/pool/SessionPoolTest.java
Labels: Module - Cluster, Module - Java Client

#2533 fix the bug that when introduce the virtual sg, the path not consist with the tsfile's in snapshot
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/FileSnapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/filter/SlotTsFileFilter.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestUtils.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/DataGroupMemberTest.java
  server/src/main/java/org/apache/iotdb/db/utils/FilePathUtils.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBFilePathUtilsIT.java
  server/src/test/java/org/apache/iotdb/db/utils/FilePathUtilsTest.java
Labels: Module - Cluster, bug

#2568 [IOTDB-1121] Session example executeNonQueryStatement parse bug
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
Labels: Module - Examples, bug

#2570 [IOTDB-1122]Comment out pre-start customizations debugging message
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
Labels: Module - Cluster

#2590 [ISSUE-2312] Fix windows encoding bug
  server/src/assembly/resources/sbin/start-server.bat
Labels: bug

#2578 [ISSUE-2573] Create timeseries root.sg.d1\n.s1 should be disabled using native session api
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBDeletionIT.java
  server/src/test/java/org/apache/iotdb/db/metadata/MManagerBasicTest.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
Labels: Module - Schema Manager

#2602 [IOTDB-1137] MNode.getLeafCount error when existing sub-device
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/MNode.java
  server/src/test/java/org/apache/iotdb/db/metadata/MTreeTest.java
Labels: 0.11.3, 0.12.0

#2596 Improve flush pipeline
  tsfile/src/main/java/org/apache/iotdb/tsfile/utils/PublicBAOS.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkWriterImpl.java
Labels: 0.12.0
