Repository apache/iotdb, pull requests merged in 2021-12, with the labels that each got.

#4539 [IOTDB-2124] the filtering condition does not take efffect for last query in cluster
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/last/ClusterLastQueryExecutor.java
  cluster/src/test/java/org/apache/iotdb/cluster/client/sync/SyncClientAdaptorTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/common/TestAsyncDataClient.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/last/ClusterLastQueryExecutorTest.java
Labels: Module - Cluster

#4567 Fix connection refused using session when users forget to set client ip
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterIoTDB.java
  docs/UserGuide/Cluster/Cluster-Setup-Example.md
  docs/zh/UserGuide/Cluster/Cluster-Setup-Example.md
Labels: Module - Cluster, Module - Java Client

#4566 [To rel/0.12] Fix connection refused using session when users forget to set client ip
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterMain.java
  docs/UserGuide/Cluster/Cluster-Setup-Example.md
  docs/zh/UserGuide/Cluster/Cluster-Setup-Example.md
Labels: Module - Cluster, Module - Java Client

#4576 [IOTDB-2152] PyClient: Override __eq__() of TSDataType, TSEncoding and Compressor to avoid unexpected comparation behaviour
  client-py/iotdb/utils/IoTDBConstants.py
Labels: Module - Python Client

#4577 [To rel/0.12][IOTDB-2152] PyClient: Override __eq__() of TSDataType, TSEncoding and Compressor to avoid unexpected comparation behaviour
  client-py/iotdb/utils/IoTDBConstants.py
Labels: Module - Python Client

#4559 [IOTDB-2136] fix timeseries deletion issue
  integration/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/test/java/org/apache/iotdb/db/metadata/MManagerBasicTest.java
Labels: Module - Cluster

#4571 [IOTDB-2141] Fix some issues in cluster test
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/aggregate/ClusterAggregator.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/service/DataSyncService.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/PartitionUtils.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBMetadataFetchIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBTtlIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aggregation/IoTDBAggregationLargeDataIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aggregation/IoTDBAggregationSmallDataIT.java
  server/src/main/java/org/apache/iotdb/db/utils/ErrorHandlingUtils.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/exception/write/UnSupportedDataTypeException.java
Labels: Module - Cluster, Module - Query Processing

#4583 [To rel/0.12][IOTDB-2160] Fix cluster groupby memory leak
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
Labels: Module - Cluster, Module - Query Processing

#4584 [To rel/0.12][IOTDB-2140] merge throw NullPointerException
  server/src/main/java/org/apache/iotdb/db/engine/merge/manage/MergeResource.java
  server/src/main/java/org/apache/iotdb/db/engine/merge/task/MergeMultiChunkTask.java
Labels: Module - Cluster

#4582 [IOTDB-2160] Fix cluster groupby memory leak
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
Labels: Module - Cluster, Module - Query Processing

#4586 [IOTDB-2159] Fix wrong status code when inserting data to a read-only cluster
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClusterTSServiceImpl.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/StatusUtils.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBSetSystemReadOnlyWritableIT.java
  server/src/main/java/org/apache/iotdb/db/exception/StorageEngineReadonlyException.java
  server/src/main/java/org/apache/iotdb/db/service/basic/BasicServiceProvider.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#4587 [IOTDB-2163] Fix unexpected amount of columns in a cluster slimit query
  server/src/main/java/org/apache/iotdb/db/qp/utils/WildcardsRemover.java
Labels: Module - Cluster, Module - Query Processing

#4614 [IOTDB-2183] Fix the config problems in cluster mode
  cluster/src/test/resources/node1conf/iotdb-engine.properties
  cluster/src/test/resources/node1conf/iotdb-metric.yml
  cluster/src/test/resources/node2conf/iotdb-engine.properties
  cluster/src/test/resources/node2conf/iotdb-metric.yml
  cluster/src/test/resources/node3conf/iotdb-engine.properties
  cluster/src/test/resources/node3conf/iotdb-metric.yml
Labels: Module - Cluster

#4570 [IOTDB-2143] fix wrong precision in cluster mode
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
Labels: Module - Cluster, Module - Query Processing

#4611 [IOTDB-2180] Fix show latest timeseries in cluster
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/ShowTimeSeriesHandler.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/ShowTimeSeriesResult.java
  server/src/test/java/org/apache/iotdb/db/query/dataset/ShowTimeSeriesResultTest.java
Labels: Module - Cluster, Module - Schema Manager

#4627 [To rel/0.12][IOTDB-2194] Fix 0.12 show timeseries
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/ShowPlan.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/ShowDataSet.java
Labels: Module - Cluster

#4617 [IOTDB-1960] Fix count timeseries in cluster mode.
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
Labels: Module - Cluster, Module - Schema Manager

#4598 [IOTDB-2172] Refactor for IoTDBSimpleQueryIT
  integration/src/main/java/org/apache/iotdb/integration/env/ClusterEnvBase.java
  integration/src/main/java/org/apache/iotdb/integration/env/ClusterEnvConfig.java
  integration/src/main/java/org/apache/iotdb/integration/env/ClusterNode.java
  integration/src/main/java/org/apache/iotdb/itbase/env/BaseConfig.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBPartialInsertionIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBSimpleQueryIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/env/StandaloneEnvConfig.java
Labels: Module - Cluster

#4633 [To rel/0.12][IOTDB-1960] Fix count timeseries in cluster mode.
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
Labels: Module - Cluster, Module - Schema Manager

#4632 [IOTDB-1948] [IOTDB-1949] Group by fill supports vector
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterQueryRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/groupby/ClusterGroupByFillNoVFilterDataSet.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/groupby/ClusterGroupByFillVFilterDataSet.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByFillIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByFillMixPathsIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByFillWithRangeIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBGroupByMonthFillIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBGroupByFillQueryBigDataIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBGroupByFillQueryIT.java
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/GroupByTimeFillPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/GroupByTimePlan.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByEngineDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByFillDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByFillEngineDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByFillWithValueFilterDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByFillWithoutValueFilterDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/executor/QueryRouter.java
  server/src/main/java/org/apache/iotdb/db/query/executor/fill/IFill.java
Labels: Improvement, Module - Query Processing

#4638 [IOTDB-2193] Reduce unnecessary lock operations of RaftLogManager to improve writing performance
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
Labels: Module - Cluster

#4658 Optimize the format
  docs/UserGuide/Data-Concept/Encoding.md
  docs/zh/UserGuide/Data-Concept/Encoding.md
Labels: Module - Documents
