Repository apache/iotdb, pull requests merged in 2021-09, with the labels that each got.

#3880 [doc] Update some out-of-date content in README and add some time zone usage
  README.md
  README_ZH.md
  docs/Download/README.md
  docs/UserGuide/API/Time-zone.md
  docs/zh/Download/README.md
  docs/zh/UserGuide/API/Time-zone.md
Labels: Module - Documents

#3889 [IOTDB-1601]Add Like and REGEXP statement user guide in DML
  docs/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
  docs/zh/UserGuide/IoTDB-SQL-Language/DML-Data-Manipulation-Language.md
Labels: Module - Documents

#3885 [IOTDB-1565]set system to readonly / writable Adaptive cluster
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/PartitionUtils.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/SetSystemModePlan.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#3896 [IOTDB-1610][To rel/0.12] Fix TsFileRewriteTool writing incorrect data file
  server/src/main/java/org/apache/iotdb/db/tools/TsFileRewriteTool.java
  server/src/main/java/org/apache/iotdb/db/tools/upgrade/TsFileOnlineUpgradeTool.java
  server/src/test/java/org/apache/iotdb/db/utils/TsFileRewriteToolTest.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/v2/read/TsFileSequenceReaderForV2.java
Labels: 0.12.2

#3894 [To rel/0.12][IOTDB-1565]Cherry Pick: set system to readonly / writable Adaptive cluster
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClientServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/PartitionUtils.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/SetSystemModePlan.java
Labels: 0.12.2

#3902 [IOTDB-1616] Fix website cannot update rel/0.12 documents
  site/pom.xml
Labels: Module - site

#3887 [cluster-refactor] change the entrance
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterIoTDB.java
Labels: Module - Cluster

#3904 Add auto-create-schema, time partition and dbeaver user guide to the website
  site/src/main/.vuepress/config.js
Labels: Module - site

#3899 [IOTDB-1534] fix surefire ci by increasing memory
  cluster/pom.xml
Labels: Need Test

#3895 [To rel/0.12] [IOTDB-1611] Fix tsfile recover bug
  server/src/main/java/org/apache/iotdb/db/engine/compaction/level/LevelCompactionTsFileManagement.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/LevelCompactionRecoverTest.java
Labels: 0.12.2

#3439 [IOTDB-1450] Deletion should only delete related time partitions
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/DataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/partition/slot/SlotTimePartitionFilter.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/virtualSg/VirtualStorageGroupManager.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/IPlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/DeletePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/DeleteTimeSeriesPlan.java
  server/src/test/java/org/apache/iotdb/db/engine/modification/DeletionFileNodeTest.java
  server/src/test/java/org/apache/iotdb/db/engine/modification/DeletionQueryTest.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessorTest.java
Labels: Module - Cluster, Module - Storage Engine, ready for review

#3797 [IOTDB-1564] Make hearbeat and election timeout parameters be configurable
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncDataHeartbeatClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/client/sync/SyncMetaHeartbeatClient.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConfig.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterConstant.java
  cluster/src/main/java/org/apache/iotdb/cluster/config/ClusterDescriptor.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/RaftServer.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThread.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/MetaGroupMember.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/BaseMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/member/MetaGroupMemberTest.java
  docs/UserGuide/Cluster/Cluster-Setup.md
  docs/zh/UserGuide/Cluster/Cluster-Setup.md
Labels: Module - Cluster

#3848 [ISSUE-3856] refine exception handling logic in commitTo in Raft…
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/RaftLogManager.java
Labels: Module - Cluster

#3877 [IOTDB-1600] Support InsertRowsOfOneDevicePlan in cluster
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertRowsOfOneDevicePlanTest.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
Labels: Module - Cluster

#3912 [IOTDB-1630] Compile cpp client on ARM Linux
  client-cpp/pom.xml
  compile-tools/pom.xml
  example/client-cpp-example/pom.xml
Labels: Module - C++ client

#3930 [IOTDB-1619] There is an error msg when I restart iotdb-cluster
  cluster/src/main/java/org/apache/iotdb/cluster/log/manage/serializable/SyncLogDequeSerializer.java
Labels: Module - Cluster

#3932 [IOTDB-1275] Fix backgroup exec for cli -e function causes an infinite loop in writing output file
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
Labels: Module - CLI

#3936 [IOTDB-1659] Fix Windows CLI cannot set maxPRC less than or equal to 0
  cli/src/main/java/org/apache/iotdb/cli/Cli.java
  cli/src/main/java/org/apache/iotdb/cli/WinCli.java
  cli/src/test/java/org/apache/iotdb/cli/StartClientScriptIT.java
Labels: Module - CLI

#3796 [IOTDB-1543] LastCache for Template and Vector
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/LastCacheManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/container/ILastCacheContainer.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/container/LastCacheContainer.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/container/value/ILastCacheValue.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/container/value/UnaryLastCacheValue.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/container/value/VectorLastCacheValue.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/EntityMNode.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/IEntityMNode.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/IMeasurementMNode.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/MeasurementMNode.java
  server/src/main/java/org/apache/iotdb/db/metadata/tag/TagManager.java
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/TTLTest.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBLastIT.java
  server/src/test/java/org/apache/iotdb/db/metadata/MManagerAdvancedTest.java
Labels: Module - Storage Engine, Module - Schema Manager, 0.13

#3914 [IOTDB-1632] fill only if the value is missing
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterQueryRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/fill/ClusterFillExecutor.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/ClusterFillExecutorTest.java
  server/src/main/java/org/apache/iotdb/db/query/executor/FillQueryExecutor.java
  server/src/main/java/org/apache/iotdb/db/query/executor/QueryRouter.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBFillIT.java
Labels: Module - Cluster, Module - Query Processing

#3913 [IOTDB-1629] fix the NPE when using value fill in cluster mode
  cluster/src/main/java/org/apache/iotdb/cluster/query/fill/ClusterFillExecutor.java
  cluster/src/test/java/org/apache/iotdb/cluster/query/fill/ClusterFillExecutorTest.java
Labels: Module - Cluster

#3916 [IOTDB-1666] Implement vector support align by device
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterDataQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/LocalQueryExecutor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/dataset/ClusterAlignByDeviceDataSet.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/ClusterReaderFactory.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/reader/mult/RemoteMultSeriesReader.java
  example/session/src/main/java/org/apache/iotdb/AlignedTimeseriesSessionExample.java
  example/session/src/main/java/org/apache/iotdb/HybridTimeseriesSessionExample.java
  example/tsfile/src/main/java/org/apache/iotdb/tsfile/TsFileWriteVectorWithTablet.java
  server/src/main/java/org/apache/iotdb/db/engine/cache/TimeSeriesMetadataCache.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/AbstractMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/PrimitiveMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/querycontext/ReadOnlyMemChunk.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/metadata/MManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/MTree.java
  server/src/main/java/org/apache/iotdb/db/metadata/PartialPath.java
  server/src/main/java/org/apache/iotdb/db/metadata/VectorPartialPath.java
  server/src/main/java/org/apache/iotdb/db/metadata/lastCache/LastCacheManager.java
  server/src/main/java/org/apache/iotdb/db/metadata/mnode/MeasurementMNode.java
  server/src/main/java/org/apache/iotdb/db/metadata/template/Template.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/QueryOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/LastQueryPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/QueryPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/RawDataQueryPlan.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/AlignByDeviceDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/RawQueryDataSetWithoutValueFilter.java
  server/src/main/java/org/apache/iotdb/db/query/executor/LastQueryExecutor.java
  server/src/main/java/org/apache/iotdb/db/query/executor/QueryRouter.java
  server/src/main/java/org/apache/iotdb/db/query/expression/unary/TimeSeriesOperand.java
  server/src/main/java/org/apache/iotdb/db/query/timegenerator/ServerTimeGenerator.java
  server/src/main/java/org/apache/iotdb/db/utils/FileLoaderUtils.java
  server/src/main/java/org/apache/iotdb/db/utils/MemUtils.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/LogReplayer.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionUtils.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionVectorIT.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkGroupWriterImpl.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/VectorChunkWriterImpl.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/record/Tablet.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/schema/IMeasurementSchema.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/schema/MeasurementSchema.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/schema/VectorMeasurementSchema.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/write/writer/VectorMeasurementSchemaStub.java
Labels: 0.13

#3953 [To rel/0.12][ISSUE-3945] Fuzzy query support multiDevices and alignByDevice Dataset
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/LikeOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/crud/RegexpOperator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/PhysicalGenerator.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBFuzzyQueryIT.java
Labels: Module - Query Processing

#3960 [IOTDB-1289] fix CPP mem-leak in SessionExample.cpp insertRecords()
  example/client-cpp-example/src/SessionExample.cpp
Labels: Module - C++ client

#3961 [IOTDB-1677] not generate file apache-iotdb-0.x.x-client-cpp-linux-x8…
  distribution/pom.xml
Labels: Module - C++ client

#3879 [IOTDB-1484]Auto create schema functionality with e2e testing in cluster
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/BaseApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/DataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/applier/DataLogApplierTest.java
  docs/UserGuide/Cluster/Cluster-Setup-Example.md
  docs/zh/UserGuide/Cluster/Cluster-Setup-Example.md
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/BatchPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertMultiTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/Cases.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/ClusterIT.java
Labels: Module - Cluster

#3966 [IOTDB-1287] C++ class Session has 2 useless sort()
  client-cpp/src/main/Session.cpp
Labels: Module - C++ client

#3964 [IOTDB-1679] client-cpp: Session descontruction need release server r…
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
  example/client-cpp-example/src/SessionExample.cpp
Labels: Module - C++ client

#3962 [IOTDB-1678] client-cpp session bug: can cause connection leak.
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
Labels: Module - C++ client

#3972 [IOTDB-1679] [To rel/0.12] client-cpp: Session descontruction need release server resource
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
  example/client-cpp-example/src/SessionExample.cpp
Labels: Module - C++ client

#3974 [IOTDB-1287] [To rel/0.12] Fix C++ class Session has 2 useless sort()
  client-cpp/src/main/Session.cpp
Labels: Module - C++ client

#3973 [IOTDB-1678] [To rel/0.12] Fix client-cpp session bug: can cause connection leak
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
Labels: Module - C++ client

#3991 [IOTDB-1338] The content of DDL viewing sub-nodes in the user guide module is wrong
  docs/UserGuide/IoTDB-SQL-Language/DDL-Data-Definition-Language.md
  docs/zh/UserGuide/IoTDB-SQL-Language/DDL-Data-Definition-Language.md
Labels: Module - Documents

#3993 [cluster-refactor] update start class name in shell/bat script and apply spotless
  cluster/src/assembly/resources/sbin/add-node.bat
  cluster/src/assembly/resources/sbin/add-node.sh
  cluster/src/assembly/resources/sbin/remove-node.bat
  cluster/src/assembly/resources/sbin/remove-node.sh
  cluster/src/assembly/resources/sbin/start-node.bat
  cluster/src/assembly/resources/sbin/start-node.sh
  cluster/src/assembly/resources/sbin/stop-node.bat
  cluster/src/assembly/resources/sbin/stop-node.sh
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterIoTDB.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/ClusterTSServiceImpl.java
Labels: Module - Cluster

#4011 [IOTDB-1721] client-cpp-example pom.xml copy useless client-cpp-xxx.zip
  example/client-cpp-example/pom.xml
Labels: Module - C++ client

#4019 [To rel/0.12][IOTDB-1727] Fix Slow creation of timeseries with tag
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfigCheck.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/metadata/logfile/TagLogFile.java
Labels: 0.12.3

#3804 [IOTDB-1581] Consider deletions when recovering tsFileResource of incomplete tsfile
  server/src/main/java/org/apache/iotdb/db/engine/memtable/WritableMemChunk.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/LogReplayer.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/TsFileRecoverPerformer.java
  server/src/test/java/org/apache/iotdb/db/writelog/recover/LogReplayerTest.java
  server/src/test/java/org/apache/iotdb/db/writelog/recover/SeqTsFileRecoverTest.java
Labels: Module - Storage Engine

#4009 [IOTDB-1719] client-cpp should firstly use thrift head files in thrif…
  client-cpp/src/main/CMakeLists.txt
Labels: Module - C++ client

#4010 [IOTDB-1720] client-cpp: enhance Session codes
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
  example/client-cpp-example/src/SessionExample.cpp
Labels: Module - C++ client

#4007 [IOTDB-1718] correct the position of "chmod + cmake"
  compile-tools/thrift/pom.xml
Labels: Module - C++ client

#4026 [IOTDB-1733] Fix dropping built-in function
  checkstyle.xml
  pom.xml
  server/src/main/java/org/apache/iotdb/db/query/udf/service/UDFRegistrationService.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBUDFManagementIT.java
Labels: Module - UDF

#4022 [IOTDB-1730] client-cpp, enhance session::insertTablet() etc.'s perfo…
  client-cpp/src/main/Session.cpp
  client-cpp/src/main/Session.h
Labels: Module - C++ client

#4030 Update ContributeGuide.md and HowToCommit.md
  docs/Development/ContributeGuide.md
  docs/Development/HowToCommit.md
  docs/zh/Development/ContributeGuide.md
  docs/zh/Development/HowToCommit.md
Labels: Module - Documents

#3917 [IOTDB-1634][IOTDB-1571] Extend more aligned timeseries insert APIs && Fix aligned timeseries wal cannot recover
  client-cpp/src/main/Session.cpp
  cluster/src/main/java/org/apache/iotdb/cluster/ClientMain.java
  example/session/src/main/java/org/apache/iotdb/AlignedTimeseriesSessionExample.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/service/TSServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/writelog/recover/LogReplayer.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertRowPlanTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertTabletPlanTest.java
  session/src/main/java/org/apache/iotdb/session/Session.java
  session/src/main/java/org/apache/iotdb/session/SessionConnection.java
  session/src/main/java/org/apache/iotdb/session/pool/SessionPool.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionVectorIT.java
  session/src/test/java/org/apache/iotdb/session/SessionCacheLeaderUT.java
  thrift/src/main/thrift/rpc.thrift
  tsfile/src/main/java/org/apache/iotdb/tsfile/utils/BitMap.java
Labels: Module - Java Client, Module - Storage Engine, 0.13

#4037 [To rel/0.12] [IOTDB-1741] Avoid double close in level compaction execution
  server/src/main/java/org/apache/iotdb/db/engine/compaction/utils/CompactionUtils.java
Labels: Module - Compaction, 0.12.3

#4045 [To rel/0.12][IOTDB-842] Better Export/Import-CSV Tool
  checkstyle.xml
  cli/pom.xml
  cli/src/main/java/org/apache/iotdb/cli/AbstractCli.java
  cli/src/main/java/org/apache/iotdb/tool/AbstractCsvTool.java
  cli/src/main/java/org/apache/iotdb/tool/ExportCsv.java
  cli/src/main/java/org/apache/iotdb/tool/ImportCsv.java
  cli/src/test/java/org/apache/iotdb/cli/AbstractScript.java
  cli/src/test/java/org/apache/iotdb/tool/CsvLineSplitTest.java
  cli/src/test/java/org/apache/iotdb/tool/integration/ExportCsvTestIT.java
  cli/src/test/java/org/apache/iotdb/tool/integration/ImportCsvTestIT.java
  cli/src/test/java/org/apache/iotdb/tool/unit/WriteCsvFileTestUT.java
  cross-tests/pom.xml
  cross-tests/src/test/java/org/apache/iotdb/cross/tests/tools/importCsv/AbstractScript.java
  cross-tests/src/test/java/org/apache/iotdb/cross/tests/tools/importCsv/ExportCsvTestIT.java
  cross-tests/src/test/java/org/apache/iotdb/cross/tests/tools/importCsv/ImportCsvTestIT.java
  docs/UserGuide/System-Tools/CSV-Tool.md
  docs/zh/UserGuide/System-Tools/CSV-Tool.md
  pom.xml
  server/src/main/java/org/apache/iotdb/db/query/control/QueryTimeManager.java
Labels: Module - CLI, 0.12.3

#4048 [ISSUE-4047]: Generic type in Statistics extend Serializable
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileResource.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/header/PageHeader.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/ChunkMetadata.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/IChunkMetadata.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/TimeseriesMetadata.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/BinaryStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/BooleanStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/DoubleStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/FloatStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/IntegerStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/LongStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/Statistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/file/metadata/statistics/TimeStatistics.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileSequenceReader.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/v2/file/header/PageHeaderV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/v2/file/metadata/ChunkMetadataV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/v2/file/metadata/statistics/StatisticsV2.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ChunkWriterImpl.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/chunk/ValueChunkWriter.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/page/PageWriter.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/page/ValuePageWriter.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/writer/TsFileIOWriter.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/file/metadata/utils/TestHelper.java
Labels: Module - TsFile

#4034 [IOTDB-1738] Cache paths list in batched insert plan
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CMManager.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/MetaPuller.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertMultiTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsOfOneDevicePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertRowsPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreateMultiTimeSeriesPlan.java
Labels: Module - Cluster, Module - Storage Engine

#3995 [IOTDB-1514] Support null in insertTablet
  example/session/src/main/java/org/apache/iotdb/SessionExample.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/AbstractMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/IMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/IWritableMemChunk.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/WritableMemChunk.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertTabletPlan.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/BinaryTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/BooleanTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/DoubleTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/FloatTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/IntTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/LongTVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/TVList.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/VectorTVList.java
  server/src/test/java/org/apache/iotdb/db/integration/IoTDBSelectIntoIT.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertTabletPlanTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/BinaryTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/BooleanTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/DoubleTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/FloatTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/IntTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/LongTVListTest.java
  server/src/test/java/org/apache/iotdb/db/utils/datastructure/VectorTVListTest.java
  session/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/utils/BitMap.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/write/record/Tablet.java
Labels: Module - Storage Engine, 0.13
