Repository apache/iotdb, pull requests merged in 2022-04, with the labels that each got.

#5395 Update python client doc and code for NumpyTablet
  client-py/README.md
  client-py/SessionExample.py
  client-py/SessionTest.py
  docs/UserGuide/API/Programming-Python-Native-API.md
  docs/zh/UserGuide/API/Programming-Python-Native-API.md
Labels: Module - Python Client, Module - Documents

#5355 [IOTDB-2748] Writing statement and writing process of coordinator
  node-commons/src/main/java/org/apache/iotdb/commons/partition/DataPartition.java
  node-commons/src/main/java/org/apache/iotdb/commons/partition/DataPartitionQueryParam.java
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngine.java
  server/src/main/java/org/apache/iotdb/db/mpp/common/schematree/PathPatternTree.java
  server/src/main/java/org/apache/iotdb/db/mpp/common/schematree/SchemaTree.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/Analysis.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/Analyzer.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/ClusterSchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/FakeSchemaFetcherImpl.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/ISchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/StandaloneSchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/parser/StatementGenerator.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/LogicalPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertRowNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertTabletNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/StatementVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertBaseStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertRowStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertTabletStatement.java
  server/src/main/java/org/apache/iotdb/db/query/control/SessionManager.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/TSServiceImpl.java
Labels: Module - MPP Cluster

#5441 [IOTDB-2859] Fix python tablet with None value is incorrect
  client-py/iotdb/utils/IoTDBRpcDataSet.py
  client-py/iotdb/utils/Tablet.py
  client-py/tests/test_tablet.py
  client-py/tests/test_todf.py
Labels: Module - Python Client

#5448 [IOTDB-2838] Check and auto correct endian type for NumpyTablet
  client-py/README.md
  client-py/SessionExample.py
  client-py/iotdb/utils/IoTDBConstants.py
  client-py/iotdb/utils/NumpyTablet.py
  client-py/tests/test_numpy_tablet.py
  docs/UserGuide/API/Programming-Python-Native-API.md
  docs/zh/UserGuide/API/Programming-Python-Native-API.md
Labels: Module - Python Client

#4848 [IOTDB-2307]UDF Library Series Discovery Functions
  docs/UserGuide/Library-UDF/Series-Discovery.md
  docs/zh/UserGuide/Library-UDF/Series-Discovery.md
  library-udf/src/main/java/org/apache/iotdb/library/series/UDTFConsecutiveSequences.java
  library-udf/src/main/java/org/apache/iotdb/library/series/UDTFConsecutiveWindows.java
  library-udf/src/main/java/org/apache/iotdb/library/series/util/ConsecutiveUtil.java
  library-udf/src/test/java/org/apache/iotdb/library/series/SeriesTest.java
Labels: Module - UDF

#4836 [IOTDB-2308]Library string
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFIQR.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFKSigma.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFLOF.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFRange.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFTwoSidedFilter.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/MissDetector.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/StreamMissDetector.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/WindowDetect.java
  library-udf/src/main/java/org/apache/iotdb/library/string/UDTFRegexMatch.java
  library-udf/src/main/java/org/apache/iotdb/library/string/UDTFRegexReplace.java
  library-udf/src/main/java/org/apache/iotdb/library/string/UDTFRegexSplit.java
  library-udf/src/main/java/org/apache/iotdb/library/string/UDTFStrReplace.java
  library-udf/src/test/java/org/apache/iotdb/library/anomaly/AnomalyTests.java
  library-udf/src/test/java/org/apache/iotdb/library/string/StringTests.java
Labels: Module - UDF

#4731 [IOTDB-2302] Library-UDF Data Profiling Functions
  docs/UserGuide/Library-UDF/Data-Profile.md
  docs/zh/UserGuide/Library-UDF/Data-Profile.md
  library-udf/pom.xml
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFIntegral.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFIntegralAvg.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFMad.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFMedian.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFMode.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFPercentile.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFPeriod.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFSkew.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFSpread.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDAFStddev.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFACF.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFDistinct.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFHistogram.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFMinMax.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFMvAvg.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFPACF.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFQLB.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFResample.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFSample.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFSegment.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFSpline.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/UDTFZScore.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/CrossCorrelation.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/ExactOrderStatistics.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/GKArray.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/MADSketch.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/Mad.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/MaxSelector.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/Resampler.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/Segment.java
  library-udf/src/main/java/org/apache/iotdb/library/dprofile/util/YuleWalker.java
  library-udf/src/main/java/org/apache/iotdb/library/util/LinearRegression.java
  library-udf/src/test/java/org/apache/iotdb/library/dprofile/DProfileTests.java
Labels: Module - UDF

#4691 [IOTDB-2238] Library-UDF Data Quality Functions
  docs/UserGuide/Library-UDF/Data-Quality.md
  docs/UserGuide/Library-UDF/Get-Started.md
  docs/zh/UserGuide/Library-UDF/Data-Quality.md
  docs/zh/UserGuide/Library-UDF/Get-Started.md
  library-udf/src/main/java/org/apache/iotdb/library/dquality/UDTFCompleteness.java
  library-udf/src/main/java/org/apache/iotdb/library/dquality/UDTFConsistency.java
  library-udf/src/main/java/org/apache/iotdb/library/dquality/UDTFTimeliness.java
  library-udf/src/main/java/org/apache/iotdb/library/dquality/UDTFValidity.java
  library-udf/src/main/java/org/apache/iotdb/library/dquality/util/TimeSeriesQuality.java
  library-udf/src/test/java/org/apache/iotdb/library/dquality/DQualityTests.java
  site/src/main/.vuepress/config.js
Labels: Module - UDF

#4824 [IOTDB-2306]Library-UDF Frequency Domain Functions
  docs/UserGuide/Library-UDF/Frequency-Domain.md
  docs/zh/UserGuide/Library-UDF/Frequency-Domain.md
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFConv.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFDWT.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFDeconv.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFFFT.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFHighPass.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFIDWT.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFIFFT.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/UDTFLowPass.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/util/DWTUtil.java
  library-udf/src/main/java/org/apache/iotdb/library/frequency/util/FFTUtil.java
  library-udf/src/test/java/org/apache/iotdb/library/frequency/FrequencyTests.java
Labels: Module - UDF

#5450 [IOTDB-2862] Fix SQL injection and XSS risks of grafana-connector
  grafana-connector/src/main/java/org/apache/iotdb/web/grafana/controller/DatabaseConnectController.java
  grafana-connector/src/main/java/org/apache/iotdb/web/grafana/dao/impl/BasicDaoImpl.java
Labels: Module - Grafana-Connector

#4835 [IOTDB-2303]Library dmatch
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/UDAFCov.java
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/UDAFDtw.java
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/UDAFPearson.java
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/UDTFPtnSym.java
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/UDTFXCorr.java
  library-udf/src/main/java/org/apache/iotdb/library/dmatch/util/CrossCorrelation.java
  library-udf/src/test/java/org/apache/iotdb/library/dmatch/DMatchTests.java
Labels: Module - UDF

#4833 [IOTDB-2304]Library-UDF Data Repairing Functions
  docs/zh/UserGuide/UDF-Library/Data-Repairing.md
  library-udf/src/main/java/org/apache/iotdb/library/drepair/UDTFTimestampRepair.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/UDTFValueFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/UDTFValueRepair.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/ARFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/LikelihoodFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/LinearFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/LsGreedy.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/MAFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/MeanFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/PreviousFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/Screen.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/ScreenFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/TimestampInterval.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/TimestampRepair.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/ValueFill.java
  library-udf/src/main/java/org/apache/iotdb/library/drepair/util/ValueRepair.java
  library-udf/src/test/java/org/apache/iotdb/library/drepair/DRepairTests.java
Labels: Module - UDF

#5461 [To rel/0.13][IOTDB-2864] Fix Read-only occurred when insert Text values to aligned timeseries
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBInsertAlignedValuesIT.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/AlignedTVList.java
Labels: Module - Storage Engine

#5460 [IOTDB-2864] Fix Read-only occurred when insert Text values to aligned timeseries
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBInsertAlignedValuesIT.java
  server/src/main/java/org/apache/iotdb/db/utils/datastructure/AlignedTVList.java
Labels: Module - Storage Engine

#5357 [IOTDB-2801] New storage engine framework
  server/src/main/java/org/apache/iotdb/db/engine/StorageEngineV2.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/AbstractMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/memtable/IMemTable.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/VirtualStorageGroupProcessor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertTabletNode.java
  server/src/main/java/org/apache/iotdb/db/utils/MemUtils.java
  server/src/main/java/org/apache/iotdb/db/writelog/node/ExclusiveWriteLogNode.java
  server/src/main/java/org/apache/iotdb/db/writelog/node/WriteLogNode.java
Labels: Module - MPP Cluster

#5412 [IOTDB-2827] Batch insert in new cluster
  cluster/src/main/java/org/apache/iotdb/cluster/coordinator/Coordinator.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/AsyncDataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/applier/DataLogApplier.java
  cluster/src/main/java/org/apache/iotdb/cluster/metadata/CSchemaProcessor.java
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanRouter.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/DataGroupMember.java
  node-commons/src/main/java/org/apache/iotdb/commons/partition/DataPartition.java
  server/src/main/java/org/apache/iotdb/db/engine/cq/ContinuousQueryTask.java
  server/src/main/java/org/apache/iotdb/db/mpp/common/schematree/PathPatternTree.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/Analyzer.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/ClusterSchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/FakeSchemaFetcherImpl.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/ISchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/StandaloneSchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/parser/StatementGenerator.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/LogicalPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNodeType.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertMultiTabletNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertMultiTabletsNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertRowsNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/write/InsertRowsOfOneDeviceNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/StatementVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertBaseStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertMultiTabletsStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertRowStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertRowsOfOneDeviceStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertRowsStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertTabletStatement.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/IPlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/PhysicalPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/InsertMultiTabletsPlan.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/TSServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/metadata/idtable/InsertWithIDTableTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/InsertTabletMultiPlanTest.java
Labels: Module - MPP Cluster

#5468 [To rel/0.13][IOTDB-2838] Check and auto correct endian type for NumpyTablet
  client-py/README.md
  client-py/SessionExample.py
  client-py/iotdb/utils/IoTDBConstants.py
  client-py/iotdb/utils/NumpyTablet.py
  client-py/tests/test_numpy_tablet.py
  docs/UserGuide/API/Programming-Python-Native-API.md
  docs/zh/UserGuide/API/Programming-Python-Native-API.md
Labels: Module - Python Client

#5403 [IOTDB-2803] Implement create timeseries metadata operation through consensus layer in MPP framework
  confignode/pom.xml
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/response/DataPartitionDataSet.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/response/SchemaPartitionDataSet.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/RegionManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/persistence/RegionInfoPersistence.java
  confignode/src/test/java/org/apache/iotdb/confignode/physical/SerializeDeserializeUT.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RequestMessage.java
  node-commons/src/main/java/org/apache/iotdb/commons/cluster/DataNodeLocation.java
  node-commons/src/main/java/org/apache/iotdb/commons/cluster/Endpoint.java
  node-commons/src/main/java/org/apache/iotdb/commons/conf/IoTDBConstant.java
  node-commons/src/main/java/org/apache/iotdb/commons/partition/RegionReplicaSet.java
  node-commons/src/main/java/org/apache/iotdb/commons/utils/CommonUtils.java
  server/pom.xml
  server/src/main/java/org/apache/iotdb/db/consensus/ConsensusManager.java
  server/src/main/java/org/apache/iotdb/db/consensus/statemachine/BaseStateMachine.java
  server/src/main/java/org/apache/iotdb/db/consensus/statemachine/SchemaRegionStateMachine.java
  server/src/main/java/org/apache/iotdb/db/metadata/Executor/SchemaVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/common/PlanFragmentId.java
  server/src/main/java/org/apache/iotdb/db/mpp/common/QueryId.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/SimpleFragInstanceDispatcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/FragmentInstance.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/PlanFragment.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/SimpleFragmentParallelPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNodeType.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNodeUtil.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/write/AlterTimeSeriesNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/write/CreateAlignedTimeSeriesNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/write/CreateTimeSeriesNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/process/DeviceMergeNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/process/ExchangeNode.java
  server/src/main/java/org/apache/iotdb/db/service/InternalServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/FragmentInstanceSerdeTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/node/PlanNodeDeserializeHelper.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/node/metadata/read/ShowDevicesNodeSerdeTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/node/sink/FragmentSinkNodeSerdeTest.java
  server/src/test/java/org/apache/iotdb/db/service/InternalServiceImplTest.java
Labels: Module - MPP Cluster

#5418 [IOTDB-2803][new cluster] Adapt show timeseries to mpp
  cluster/src/main/java/org/apache/iotdb/cluster/query/ClusterPlanner.java
  node-commons/src/main/java/org/apache/iotdb/commons/partition/RegionReplicaSet.java
  server/src/main/java/org/apache/iotdb/db/consensus/statemachine/SchemaRegionStateMachine.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/DataDriver.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/FragmentInstanceManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/SchemaDriverContext.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/schema/DevicesSchemaScanOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/schema/SchemaMergeOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/schema/SchemaScanOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/schema/TimeSeriesSchemaScanOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/source/SeriesScanOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/Analyzer.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/parser/ASTVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/DistributionPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/LocalExecutionPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/LogicalPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/QueryPlanBuilder.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/PlanFragment.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/SimpleFragmentParallelPlanner.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanNodeType.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/PlanVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/read/DevicesSchemaScanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/read/SchemaMergeNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/read/SchemaScanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/metedata/read/TimeSeriesSchemaScanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/process/ExchangeNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/sink/FragmentSinkNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/source/SeriesAggregateScanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/source/SeriesScanNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/source/SourceNode.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/StatementVisitor.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/QueryStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/AlterTimeSeriesStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/CreateAlignedTimeSeriesStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/CreateTimeSeriesStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/ShowDevicesStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/ShowStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/metadata/ShowTimeSeriesStatement.java
  server/src/test/java/org/apache/iotdb/db/mpp/operator/SchemaScanOperatorTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/DistributionPlannerTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/FragmentInstanceSerdeTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/LogicalPlannerTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/node/process/OffsetNodeSerdeTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/node/source/SeriesAggregateScanNodeSerdeTest.java
Labels: Module - MPP Cluster

#5501 [IOTDB-2901] Refine codes of DataTypeMismatchException and checkDataTypeMatch
  integration/src/test/java/org/apache/iotdb/session/IoTDBSessionDisableMemControlIT.java
  integration/src/test/java/org/apache/iotdb/session/IoTDBSessionSimpleIT.java
  integration/src/test/java/org/apache/iotdb/session/IoTDBSessionVectorInsertIT.java
  server/src/main/java/org/apache/iotdb/db/exception/metadata/DataTypeMismatchException.java
  server/src/main/java/org/apache/iotdb/db/metadata/idtable/IDTableHashmapImpl.java
  server/src/main/java/org/apache/iotdb/db/metadata/schemaregion/SchemaRegion.java
  server/src/main/java/org/apache/iotdb/db/metadata/schemaregion/SchemaRegionUtils.java
  server/src/main/java/org/apache/iotdb/db/metadata/schemaregion/rocksdb/RSchemaRegion.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertRowStatement.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/statement/crud/InsertTabletStatement.java
  server/src/main/java/org/apache/iotdb/db/wal/recover/file/TsFilePlanRedoer.java
  server/src/test/java/org/apache/iotdb/db/metadata/idtable/IDTableTest.java
Labels: Module - Schema Manager

#5543 [IOTDB-2921] Fix WALNodeTest of concurrently accessing ArrayList
  server/src/test/java/org/apache/iotdb/db/wal/node/WALNodeTest.java
Labels: Module - WAL

#5566 Make standalone mode mpp basically runnable
  node-commons/src/main/java/org/apache/iotdb/commons/concurrent/ThreadName.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/DataBlockManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/DataBlockService.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/DataBlockServiceClientFactory.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/IDataBlockManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/SinkHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/SourceHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/buffer/StubSinkHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/Coordinator.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/DataDriver.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/DriverContext.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/FragmentInstanceContext.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/FragmentInstanceManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/QueryExecution.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/QueryStateMachine.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/SchemaDriver.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/AbstractFragInsStateTracker.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/FixedRateFragInsStateTracker.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/InternalServiceClientFactory.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/SimpleFragInstanceDispatcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/scheduler/SimpleQueryTerminator.java
  server/src/main/java/org/apache/iotdb/db/mpp/operator/process/TimeJoinOperator.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceScheduler.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/analyze/ClusterSchemaFetcher.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/LocalExecutionPlanner.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeManagementServer.java
  server/src/main/java/org/apache/iotdb/db/service/InternalService.java
  server/src/main/java/org/apache/iotdb/db/service/InternalServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/DataNodeTSIServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/mpp/execution/DataDriverTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/DefaultTaskSchedulerTest.java
Labels: Module - MPP Cluster

#5589 Add failed method for Driver
  server/src/main/java/org/apache/iotdb/db/mpp/execution/DataDriver.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/Driver.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/FragmentInstanceContext.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/SchemaDriver.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/task/FragmentInstanceTask.java
Labels: Module - MPP Cluster

#5585 Add input location for TimeJoinNode
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/InputLocation.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/OutputColumn.java
  server/src/main/java/org/apache/iotdb/db/mpp/sql/planner/plan/node/process/TimeJoinNode.java
Labels: Module - MPP Cluster

#5497 [IOTDB-2848] Consensus snapshot interface
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/statemachine/PartitionRegionStateMachine.java
  consensus/src/main/java/org/apache/iotdb/consensus/common/SnapshotMeta.java
  consensus/src/main/java/org/apache/iotdb/consensus/standalone/StandAloneServerImpl.java
  consensus/src/main/java/org/apache/iotdb/consensus/statemachine/EmptyStateMachine.java
  consensus/src/main/java/org/apache/iotdb/consensus/statemachine/IStateMachine.java
  consensus/src/test/java/org/apache/iotdb/consensus/ratis/RatisConsensusTest.java
  consensus/src/test/java/org/apache/iotdb/consensus/standalone/StandAloneConsensusTest.java
  server/src/main/java/org/apache/iotdb/db/consensus/statemachine/DataRegionStateMachine.java
  server/src/main/java/org/apache/iotdb/db/consensus/statemachine/SchemaRegionStateMachine.java
Labels: Module - MPP Cluster

#5593 Add Driver.failed() call in FragmentInstanceScheduler
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceAbortedException.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceScheduler.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceTaskExecutor.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceTimeoutSentinel.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/queue/L1PriorityQueue.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/queue/L2PriorityQueue.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/task/FragmentInstanceTask.java
  server/src/main/java/org/apache/iotdb/db/mpp/schedule/task/FragmentInstanceTaskID.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/DefaultTaskSchedulerTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceSchedulerTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/FragmentInstanceTimeoutSentinelTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/queue/L1PriorityQueueTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/schedule/queue/L2PriorityQueueTest.java
Labels: Module - MPP Cluster

#5595 [IOTDB-2955] Design and implement ClientManager for thrift client's pooling management
  confignode/src/assembly/resources/conf/iotdb-confignode.properties
  confignode/src/main/java/org/apache/iotdb/confignode/client/ConfigNodeClientPoolFactory.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeConf.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeDescriptor.java
  consensus/src/main/java/org/apache/iotdb/consensus/IConsensus.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RatisClientFactory.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RatisConsensus.java
  node-commons/pom.xml
  node-commons/src/main/java/org/apache/iotdb/commons/client/AsyncBaseClientFactory.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/BaseClientFactory.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/ClientFactoryProperty.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/ClientManager.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/ClientPoolProperty.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/IClientManager.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/IClientPoolFactory.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/async/AsyncConfigNodeIServiceClient.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/async/AsyncDataNodeDataBlockServiceClient.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/async/AsyncDataNodeInternalServiceClient.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/sync/SyncConfigNodeIServiceClient.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/sync/SyncDataNodeDataBlockServiceClient.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/sync/SyncDataNodeInternalServiceClient.java
  node-commons/src/test/java/org/apache/iotdb/commons/ClientManagerTest.java
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/client/DataNodeClientPoolFactory.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
Labels: Module - MPP Cluster

#5652 [IOTDB-2996] Fix wildcard import in test folders
  cluster/src/test/java/org/apache/iotdb/cluster/integration/SingleNodeTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/CommitLogCallbackTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/CommitLogTaskTest.java
  cross-tests/src/test/java/org/apache/iotdb/cross/tests/tools/importCsv/AbstractScript.java
  hadoop/src/test/java/org/apache/iotdb/hadoop/tsfile/TSFInputSplitTest.java
  hive-connector/src/test/java/org/apache/iotdb/hive/TsFileDeserializerTest.java
  hive-connector/src/test/java/org/apache/iotdb/hive/TsFileSerDeTest.java
  influxdb-protocol/src/test/java/org/apache/iotdb/influxdb/integration/IoTDBInfluxDBIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBAliasIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBCompleteIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBDaemonIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBInIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBMaxTimeQueryIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBResultMetadataIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBSchemaTemplateIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBAggregationWithoutValueFilterWithDeletionIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBGroupBySlidingWindowQueryWithoutValueFilterIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/groupby/IOTDBGroupByInnerIntervalIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/groupby/IoTDBGroupByFillIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncReceiverIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncReceiverLoaderIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/sync/SyncTestUtil.java
  jdbc/src/test/java/org/apache/iotdb/jdbc/IoTDBPreparedStatementTest.java
  metrics/dropwizard-metrics/src/test/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricManagerTest.java
  pom.xml
  server/src/test/java/org/apache/iotdb/db/engine/cache/BloomFilterCacheTest.java
  server/src/test/java/org/apache/iotdb/db/metadata/mnode/MNodeTest.java
  server/src/test/java/org/apache/iotdb/db/metadata/mtree/schemafile/SegmentTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/operator/TimeJoinOperatorTest.java
  server/src/test/java/org/apache/iotdb/db/mpp/sql/plan/LogicalPlanPrinter.java
  server/src/test/java/org/apache/iotdb/db/protocol/influxdb/sql/InfluxDBLogicalGeneratorTest.java
  server/src/test/java/org/apache/iotdb/db/protocol/mqtt/PayloadFormatManagerTest.java
  server/src/test/java/org/apache/iotdb/db/protocol/mqtt/PublishHandlerTest.java
  server/src/test/java/org/apache/iotdb/db/qp/physical/SerializedSizeTest.java
  server/src/test/java/org/apache/iotdb/db/query/dataset/EngineDataSetWithValueFilterTest.java
  server/src/test/java/org/apache/iotdb/db/query/udf/datastructure/SerializableBinaryTVListTest.java
  server/src/test/java/org/apache/iotdb/db/query/udf/datastructure/SerializableFloatTVListTest.java
  server/src/test/java/org/apache/iotdb/db/query/udf/datastructure/SerializableIntTVListTest.java
  server/src/test/java/org/apache/iotdb/db/query/udf/datastructure/SerializableLongTVListTest.java
  server/src/test/java/org/apache/iotdb/db/query/valuefilter/RawQueryWithValueFilterTest.java
  server/src/test/java/org/apache/iotdb/db/sync/pipedata/BufferedPipeDataQueueTest.java
  server/src/test/java/org/apache/iotdb/db/sync/pipedata/PipeDataTest.java
  server/src/test/java/org/apache/iotdb/db/sync/transport/TransportServiceTest.java
  server/src/test/java/org/apache/iotdb/db/tools/TsFileSelfCheckToolTest.java
  server/src/test/java/org/apache/iotdb/db/utils/MathQueryDataSetUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/utils/MemUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/wal/DisableWALTest.java
  server/src/test/java/org/apache/iotdb/db/wal/WALManagerTest.java
  server/src/test/java/org/apache/iotdb/db/wal/buffer/WALBufferCommonTest.java
  server/src/test/java/org/apache/iotdb/db/wal/checkpoint/CheckpointManagerTest.java
  server/src/test/java/org/apache/iotdb/db/wal/io/CheckpointFileTest.java
  server/src/test/java/org/apache/iotdb/db/wal/io/WALFileTest.java
  server/src/test/java/org/apache/iotdb/db/wal/node/WALFakeNodeTest.java
  server/src/test/java/org/apache/iotdb/db/wal/recover/file/SealedTsFileRecoverPerformerTest.java
  server/src/test/java/org/apache/iotdb/db/wal/recover/file/TsFilePlanRedoerTest.java
  server/src/test/java/org/apache/iotdb/db/wal/recover/file/UnsealedTsFileRecoverPerformerTest.java
  testcontainer/src/test/java/org/apache/iotdb/db/sql/SingleNodeIT.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/common/block/TsBlockTest.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/read/common/BatchDataTest.java
  tsfile/src/test/java/org/apache/iotdb/tsfile/write/writer/RestorableTsFileIOWriterTest.java
Labels: Code-Style

#5671 Use logical clock to fix clientManager test
  node-commons/src/main/java/org/apache/iotdb/commons/client/ClientFactoryProperty.java
  node-commons/src/main/java/org/apache/iotdb/commons/client/ClientPoolProperty.java
  node-commons/src/test/java/org/apache/iotdb/commons/ClientManagerTest.java
Labels: Module - MPP Cluster

#5713 [IOTDB-3033] Completing the query and writing interface compared to java
  client-py/SessionAlignedTimeseriesExample.py
  client-py/SessionExample.py
  client-py/iotdb/Session.py
  client-py/tests/tablet_performance_comparison.py
  client-py/tests/test_one_device.py
Labels: Module - Python Client
