Repository apache/iotdb, pull requests merged in 2022-03, with the labels that each got.

#5144 [IOTDB-2625] Optimize RaftMember initialization
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/heartbeat/HeartbeatThreadTest.java
Labels: Module - Cluster

#5139 [To new_sync][IOTDB-2629][IOTDB-2631] new_sync branch, fix bugs of CMD & Test
  server/src/main/java/org/apache/iotdb/db/qp/sql/IoTDBSqlVisitor.java
Labels: Module - Sync

#5123 [To new_sync][IOTDB-1907] implement customized sync process: pipeDataQueue
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncReceiverCollectorIT.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/BufferedPipeDataBlockingQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncConstant.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncPathUtil.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/PipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/TsFilePipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/queue/BufferedPipeDataQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/queue/PipeDataQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/ReceiverService.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/collector/Collector.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLog.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/conf/.SenderConf.java.swp
  server/src/main/java/org/apache/iotdb/db/newsync/sender/conf/SenderConf.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/IoTDBPipeSink.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/TsFilePipe.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/SenderLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/SenderLogger.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/TsFilePipeLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/TsFilePipeLogger.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/service/SenderService.java
  server/src/main/java/org/apache/iotdb/db/qp/logical/Operator.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreatePipePlan.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/sys/CreatePipeSinkPlan.java
  server/src/test/java/org/apache/iotdb/db/newsync/pipedata/BufferedPipeDataQueueTest.java
  server/src/test/java/org/apache/iotdb/db/newsync/pipedata/PipeDataTest.java
Labels: Module - Sync

#5158 [IOTDB-2634] Fix batch script exit directly from cmd.exe
  cli/src/assembly/resources/sbin/start-cli.bat
  cli/src/assembly/resources/tools/export-csv.bat
  cli/src/assembly/resources/tools/import-csv.bat
  cli/src/test/java/org/apache/iotdb/cli/StartClientScriptIT.java
  cli/src/test/java/org/apache/iotdb/tool/integration/ExportCsvTestIT.java
  cli/src/test/java/org/apache/iotdb/tool/integration/ImportCsvTestIT.java
Labels: Module - CLI, 0.13

#5148 [To new_sync][IOTDB-2272] persistent heartbeat and adapt to pipeDataQueue
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncReceiverCollectorIT.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/BufferedPipeDataBlockingQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncConstant.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncPathUtil.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/ReceiverService.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/collector/Collector.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/load/SchemaLoader.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/manager/PipeMessage.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/manager/ReceiverManager.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLog.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/transfer/SyncRequest.java
  server/src/main/java/org/apache/iotdb/db/newsync/transfer/SyncResponse.java
  server/src/test/java/org/apache/iotdb/db/newsync/receiver/manager/ReceiverManagerTest.java
  server/src/test/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLogAnalyzerTest.java
Labels: Module - Sync

#5169 [IOTDB-2668] Exception while query aligned series with value filter align by device
  integration/src/test/java/org/apache/iotdb/db/integration/aligned/IoTDBAlignByDeviceIT.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/AlignByDeviceDataSet.java
Labels: 0.13

#5163 [IOTDB-2654] Alias doesn't show when using group by level
  integration/src/test/java/org/apache/iotdb/db/integration/aggregation/IoTDBAggregationByLevelIT.java
  server/src/main/java/org/apache/iotdb/db/qp/physical/crud/AggregationPlan.java
  server/src/main/java/org/apache/iotdb/db/qp/strategy/optimizer/ConcatPathOptimizer.java
  server/src/main/java/org/apache/iotdb/db/qp/utils/GroupByLevelController.java
  server/src/main/java/org/apache/iotdb/db/query/dataset/groupby/GroupByLevelDataSet.java
  server/src/main/java/org/apache/iotdb/db/query/expression/ResultColumn.java
Labels: 0.13

#5162 [To new_sync] The transport part of new sync
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/ITransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/TransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/conf/TransportConfig.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/conf/TransportConstant.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerManager.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerManagerMBean.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerThriftHandler.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServiceImpl.java
  thrift-sync/src/main/thrift/transport.thrift
Labels: Module - Sync

#5173 [IOTDB-2692] Fix compaction exception caused by deleted timeseries
  server/src/main/java/org/apache/iotdb/db/engine/compaction/CompactionUtils.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/utils/InnerSpaceCompactionUtils.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/utils/SingleSeriesCompactionExecutor.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/CompactionUtilsTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerSpaceCompactionUtilsNoAlignedTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/utils/CompactionCheckerUtils.java
Labels: Module - Compaction, 0.13

#5181 [IOTDB-2357] Support create timeseries interface with tags in python client
  client-py/SessionExample.py
  client-py/SessionTest.py
  client-py/iotdb/Session.py
Labels: Module - Python Client

#5170 [IOTDB-2651] Fix write performance deteriorates severely
  server/src/main/java/org/apache/iotdb/db/engine/compaction/CompactionTaskManager.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/cross/AbstractCrossSpaceCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/cross/rewrite/RewriteCrossSpaceCompactionSelector.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/cross/rewrite/task/RewriteCrossSpaceCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/AbstractInnerSpaceCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/sizetiered/SizeTieredCompactionSelector.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/sizetiered/SizeTieredCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/task/AbstractCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileResource.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/CompactionTaskManagerTest.java
Labels: 0.13

#5177 [IOTDB-2680]Fix too many open files exception
  docs/UserGuide/Reference/Config-Manual.md
  docs/zh/UserGuide/Reference/Config-Manual.md
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBNewTsFileCompactionIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBSizeTieredCompactionIT.java
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/CompactionUtils.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/cross/rewrite/selector/RewriteCompactionFileSelector.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/sizetiered/SizeTieredCompactionSelector.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/utils/MultiTsFileDeviceIterator.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/CompactionSchedulerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/cross/RewriteCompactionFileSelectorTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerCompactionSchedulerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/utils/CompactionConfigRestorer.java
  server/src/test/java/org/apache/iotdb/db/engine/storagegroup/StorageGroupProcessorTest.java
Labels: 0.13

#5185 [IOTDB-2703] Support insert ndarray Tablet in Python API
  client-py/SessionExample.py
  client-py/SessionTest.py
  client-py/iotdb/utils/NumpyTablet.py
  client-py/iotdb/utils/Tablet.py
  client-py/requirements.txt
  client-py/tests/tablet_performance_comparison.py
Labels: Module - Python Client

#5189 [IOTDB-2707] Update Python API userguide
  client-py/setup.py
  docs/UserGuide/API/Programming-Python-Native-API.md
  docs/zh/UserGuide/API/Programming-Python-Native-API.md
Labels: Module - Python Client, Module - Documents

#5186 [IOTDB-2712]Remove reading merge.mods in inner compaction recover
  server/src/main/java/org/apache/iotdb/db/engine/compaction/inner/sizetiered/SizeTieredCompactionRecoverTask.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/TsFileIdentifierUT.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/recover/SizeTieredCompactionRecoverCompatibleTest.java
Labels: 0.13

#5195 [IOTDB-2711] Fix memory allocation deadlock caused by concurrent snapshot requests
  cluster/src/main/java/org/apache/iotdb/cluster/log/Snapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/log/snapshot/PartitionedSnapshot.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandler.java
  cluster/src/main/java/org/apache/iotdb/cluster/server/member/RaftMember.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/MetaSimpleSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/log/snapshot/PartitionedSnapshotTest.java
  cluster/src/test/java/org/apache/iotdb/cluster/server/handlers/caller/HeartbeatHandlerTest.java
  thrift-cluster/src/main/thrift/cluster.thrift
Labels: Module - Cluster

#5213 [IOTDB-2734] Correct result type name in ResultMetadata
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBResultMetadataIT.java
  jdbc/src/main/java/org/apache/iotdb/jdbc/IoTDBResultMetadata.java
Labels: Module - JDBC

#5200 [To new_sync][IOTDB-2700] Sync transfer adaption to receiver
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncReceiverCollectorIT.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncPathUtil.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/TsFilePipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/queue/PipeDataQueueFactory.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/ReceiverService.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/collector/Collector.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/recovery/ReceiverLog.java
  server/src/main/java/org/apache/iotdb/db/newsync/transfer/SyncRequest.java
  server/src/main/java/org/apache/iotdb/db/newsync/transfer/SyncResponse.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/ITransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/TransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/conf/TransportConfig.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/conf/TransportConstant.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerManager.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerManagerMBean.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerThriftHandler.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/newsync/pipedata/BufferedPipeDataQueueTest.java
  server/src/test/java/org/apache/iotdb/db/newsync/transport/TransportServiceTest.java
  thrift-sync/src/main/thrift/transport.thrift
Labels: Module - Sync

#5287 [IOTDB-2730] start config service
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterIoTDB.java
  cluster/src/main/java/org/apache/iotdb/cluster/ClusterIoTDBServerCommandLine.java
  cluster/src/main/java/org/apache/iotdb/cluster/utils/nodetool/ClusterMonitor.java
  confignode/src/assembly/resources/conf/iotdb-confignode.properties
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeConf.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeConfCheck.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeDescriptor.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNode.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNodeCommandLine.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNodeMBean.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServer.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServerMBean.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServerProcessor.java
  integration/src/test/java/org/apache/iotdb/db/integration/IoTDBCheckConfigIT.java
  node-commons/src/main/java/org/apache/iotdb/commons/concurrent/ThreadName.java
  node-commons/src/main/java/org/apache/iotdb/commons/exception/ConfigurationException.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/ThriftService.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfigCheck.java
  server/src/main/java/org/apache/iotdb/db/service/IoTDB.java
  server/src/main/java/org/apache/iotdb/db/service/IoTDBMBean.java
  thrift-confignode/src/main/thrift/confignode.thrift
Labels: Module - MPP Cluster

#5289 [IOTDB-2761] Data node internal thrift service for config node
  pom.xml
  thrift-datanode/pom.xml
  thrift-datanode/src/main/thrift/datanode.thrift
Labels: Module - MPP Cluster

#4834 [IOTDB-2305]Library anomaly
  docs/UserGuide/Library-UDF/Anomaly-Detection.md
  docs/zh/UserGuide/Library-UDF/Anomaly Detection.md
  library-udf/pom.xml
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFIQR.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFKSigma.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFLOF.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFMissDetect.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFRange.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/UDTFTwoSidedFilter.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/MissDetector.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/StreamMissDetector.java
  library-udf/src/main/java/org/apache/iotdb/library/anomaly/util/WindowDetect.java
  library-udf/src/main/java/org/apache/iotdb/library/util/BooleanCircularQueue.java
  library-udf/src/main/java/org/apache/iotdb/library/util/CircularQueue.java
  library-udf/src/main/java/org/apache/iotdb/library/util/DoubleCircularQueue.java
  library-udf/src/main/java/org/apache/iotdb/library/util/LinearRegression.java
  library-udf/src/main/java/org/apache/iotdb/library/util/LongCircularQueue.java
  library-udf/src/main/java/org/apache/iotdb/library/util/NoNumberException.java
  library-udf/src/main/java/org/apache/iotdb/library/util/Util.java
  library-udf/src/test/java/org/apache/iotdb/library/anomaly/AnomalyTests.java
Labels: Module - UDF

#5330 [IOTDB-2747] Start data node
  cluster/src/assembly/resources/conf/iotdb-cluster.properties
  node-commons/src/main/java/org/apache/iotdb/commons/concurrent/ThreadName.java
  node-commons/src/main/java/org/apache/iotdb/commons/exception/BadNodeUrlException.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/ServiceType.java
  node-commons/src/main/java/org/apache/iotdb/commons/utils/CommonUtils.java
  server/pom.xml
  server/src/assembly/resources/conf/iotdb-engine.properties
  server/src/assembly/resources/sbin/start-datanode.bat
  server/src/assembly/resources/sbin/start-datanode.sh
  server/src/assembly/resources/sbin/stop-datanode.bat
  server/src/assembly/resources/sbin/stop-datanode.sh
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/exception/BadNodeUrlFormatException.java
  server/src/main/java/org/apache/iotdb/db/query/control/SessionManager.java
  server/src/main/java/org/apache/iotdb/db/service/DataNode.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeMBean.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeManagementServer.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeManagementServerMBean.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeServerCommandLine.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/handler/DataNodeManagementServiceHandler.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/DataNodeManagementServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/TSServiceImpl.java
Labels: Module - MPP Cluster

#5347 [IOTDB-2780] Config node ratis consensus protocol implementation
  confignode/pom.xml
  confignode/src/assembly/resources/conf/iotdb-confignode.properties
  confignode/src/assembly/resources/conf/logback.xml
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeConf.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeConstant.java
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeDescriptor.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/ConsensusType.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/statemachine/PartitionRegionStateMachine.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/ConfigManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/partition/PartitionTable.java
  confignode/src/main/java/org/apache/iotdb/confignode/physical/PhysicalPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNode.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNodeCommandLine.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/executor/PlanExecutor.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServer.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServerProcessor.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServiceHandler.java
  confignode/src/test/java/org/apache/iotdb/confignode/manager/ConfigManagerManualTest.java
  confignode/src/test/java/org/apache/iotdb/confignode/manager/hash/DeviceGroupHashExecutorManualTest.java
  confignode/src/test/java/org/apache/iotdb/confignode/service/thrift/server/ConfigNodeRPCServerProcessorTest.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RequestMessage.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/RegisterManager.java
Labels: Module - MPP Cluster

#5159 [To new_sync][IOTDB-1907] implement customized sync process: sender 3
  integration/src/test/java/org/apache/iotdb/db/integration/sync/IoTDBSyncSenderIT.java
  integration/src/test/java/org/apache/iotdb/db/integration/sync/TransportClientMock.java
  integration/src/test/resources/iotdb-engine.properties
  pom.xml
  server/src/main/java/org/apache/iotdb/db/concurrent/ThreadName.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConstant.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncConstant.java
  server/src/main/java/org/apache/iotdb/db/newsync/conf/SyncPathUtil.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/DeletionPipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/PipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/SchemaPipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/TsFilePipeData.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/queue/BufferedPipeDataQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/pipedata/queue/PipeDataQueue.java
  server/src/main/java/org/apache/iotdb/db/newsync/receiver/ReceiverService.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/IoTDBPipeSink.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/Pipe.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/TransportHandler.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/pipe/TsFilePipe.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/SenderLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/SenderLogger.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/TsFilePipeLogAnalyzer.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/recovery/TsFilePipeLogger.java
  server/src/main/java/org/apache/iotdb/db/newsync/sender/service/SenderService.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/ITransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/client/TransportClient.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/conf/TransportSenderConfig.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServerManager.java
  server/src/main/java/org/apache/iotdb/db/newsync/transport/server/TransportServiceImpl.java
  server/src/main/java/org/apache/iotdb/db/qp/executor/PlanExecutor.java
  server/src/main/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
  server/src/test/java/org/apache/iotdb/db/newsync/pipedata/BufferedPipeDataQueueTest.java
  server/src/test/java/org/apache/iotdb/db/newsync/transport/TransportServiceTest.java
  server/src/test/resources/iotdb-engine.properties
Labels: Module - Sync

#5377 Add isLeaderOf to Consensus
  consensus/src/main/java/org/apache/iotdb/consensus/IConsensus.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RatisConsensus.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/Utils.java
  consensus/src/main/java/org/apache/iotdb/consensus/standalone/StandAloneConsensus.java
  consensus/src/test/java/org/apache/iotdb/consensus/ratis/RatisConsensusTest.java
Labels: Module - MPP Cluster
