Repository apache/iotdb, pull requests merged in 2023-02, with the labels that each got.

#9041 [IOTDB-5514] Fix race condition in MemoryPool without synchronized block
  server/src/main/java/org/apache/iotdb/db/mpp/execution/memory/MemoryPool.java
Labels: Module - Storage Engine

#9076 [IOTDB-5544] Fix metric service concurrency problem
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricService.java
Labels: Module - Metrics

#9080 [To rel/1.0][IOTDB-5544] Fix metric service concurrency problem
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricService.java
Labels: Module - Metrics

#9054 [IOTDB-5517] Add metrics for disk io
  confignode/src/main/java/org/apache/iotdb/confignode/service/ConfigNode.java
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-ConfigNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/disk/DiskMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/disk/IDiskMetricsManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/disk/LinuxDiskMetricsManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/disk/MacDiskMetricsManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/disk/WindowsDiskMetricsManager.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/enums/Metric.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/DataNodeMetricsHelper.java
Labels: Module - Metrics

#9085 [IOTDB-5533] Make IoTDB Internal Reporter as default
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/DataNodeWrapper.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfig.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfigDescriptor.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/ReloadLevel.java
  metrics/interface/src/test/java/org/apache/iotdb/metrics/config/MetricConfigTest.java
  server/src/assembly/resources/conf/iotdb-datanode.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
Labels: Module - Metrics

#9107 [IOTDB-5562] Change the data type of AutoGuage from long to double in metric module
  confignode/src/main/java/org/apache/iotdb/confignode/manager/load/balancer/RegionBalancer.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/load/balancer/region/CopySetRegionGroupAllocator.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/load/balancer/region/GreedyRegionGroupAllocator.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/load/balancer/region/IRegionGroupAllocator.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/node/NodeManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/node/heartbeat/DataNodeHeartbeatCache.java
  confignode/src/test/java/org/apache/iotdb/confignode/manager/load/balancer/region/GreedyRegionGroupAllocatorTest.java
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricManager.java
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/type/DropwizardAutoGauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/impl/DoNothingAutoGauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/impl/DoNothingMetricManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/AutoGauge.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/MicrometerMetricManager.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/type/MicrometerAutoGauge.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/SystemMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/DataNodeInternalRPCServiceImpl.java
  server/src/test/java/org/apache/iotdb/db/metric/MetricServiceTest.java
  thrift/src/main/thrift/datanode.thrift
Labels: Module - Metrics

#9135 [IOTDB-5577] Metric dashboard for Schema Module
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
Labels: Module - Metrics

#9119 [IOTDB-5533] Add IoTDB Internal Reporter params back and Modify the config of root.__system
  client-py/iotdb/sqlalchemy/tests/test_dialect.py
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfigDescriptor.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/ReloadLevel.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBSessionReporter.java
  metrics/interface/src/test/java/org/apache/iotdb/metrics/config/MetricConfigTest.java
  server/src/assembly/resources/conf/iotdb-datanode.properties
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/SystemMetrics.java
Labels: Module - Metrics

#9099 [IOTDB-5559] Implement metric exporters for RatisConsensus
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/CounterProxy.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/GaugeProxy.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/IoTDBMetricRegistry.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/MetricRegistryManager.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/RatisMetricSet.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/RefCountingMap.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/TimerProxy.java
  consensus/src/main/resources/META-INF/services/org.apache.ratis.metrics.MetricRegistries
Labels: Module - Metrics

#9140 [IOTDB-5582] Add region type in ratis metric prefix
  confignode/src/main/java/org/apache/iotdb/confignode/manager/consensus/ConsensusManager.java
  consensus/src/main/java/org/apache/iotdb/consensus/config/ConsensusConfig.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/RatisConsensus.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/IoTDBMetricRegistry.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/MetricRegistryManager.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/RatisMetricSet.java
  consensus/src/main/java/org/apache/iotdb/consensus/ratis/metrics/TimerProxy.java
  consensus/src/test/java/org/apache/iotdb/consensus/iot/ReplicateTest.java
  consensus/src/test/java/org/apache/iotdb/consensus/iot/StabilityTest.java
  consensus/src/test/java/org/apache/iotdb/consensus/ratis/RatisConsensusTest.java
  consensus/src/test/java/org/apache/iotdb/consensus/simple/RecoveryTest.java
  server/src/main/java/org/apache/iotdb/db/consensus/DataRegionConsensusImpl.java
  server/src/main/java/org/apache/iotdb/db/consensus/SchemaRegionConsensusImpl.java
Labels: Module - Metrics

#9145 [IOTDB-5585] Change InternalReporterType from IoTDB to Memory to reduce performance degradation
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfig.java
  metrics/interface/src/test/java/org/apache/iotdb/metrics/config/MetricConfigTest.java
  server/src/assembly/resources/conf/iotdb-datanode.properties
Labels: Module - Metrics

#9090 [IOTDB-5081] Implement model management on ConfigNode
  confignode/src/main/java/org/apache/iotdb/confignode/client/DataNodeRequestType.java
  confignode/src/main/java/org/apache/iotdb/confignode/client/sync/SyncDataNodeClientPool.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/ConfigPhysicalPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/ConfigPhysicalPlanType.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/read/model/ShowModelPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/read/model/ShowTrailPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/write/model/CreateModelPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/write/model/DropModelPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/write/model/UpdateModelInfoPlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/request/write/model/UpdateModelStatePlan.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/response/ModelTableResp.java
  confignode/src/main/java/org/apache/iotdb/confignode/consensus/response/TrailTableResp.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/ConfigManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/IManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/ModelManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/manager/ProcedureManager.java
  confignode/src/main/java/org/apache/iotdb/confignode/persistence/ModelInfo.java
  confignode/src/main/java/org/apache/iotdb/confignode/persistence/executor/ConfigPlanExecutor.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/impl/model/CreateModelProcedure.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/impl/model/DropModelProcedure.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/state/model/CreateModelState.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/state/model/DropModelState.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/store/ProcedureFactory.java
  confignode/src/main/java/org/apache/iotdb/confignode/procedure/store/ProcedureType.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/ConfigNodeRPCServiceProcessor.java
  node-commons/pom.xml
  node-commons/src/main/java/org/apache/iotdb/commons/conf/CommonConfig.java
  node-commons/src/main/java/org/apache/iotdb/commons/conf/CommonDescriptor.java
  node-commons/src/main/java/org/apache/iotdb/commons/model/ModelHyperparameter.java
  node-commons/src/main/java/org/apache/iotdb/commons/model/ModelInformation.java
  node-commons/src/main/java/org/apache/iotdb/commons/model/ModelTable.java
  node-commons/src/main/java/org/apache/iotdb/commons/model/TrailInformation.java
  node-commons/src/main/java/org/apache/iotdb/commons/model/exception/ModelManagementException.java
  server/src/main/java/org/apache/iotdb/db/client/ConfigNodeClient.java
  server/src/main/java/org/apache/iotdb/db/client/MLNodeClient.java
  service-rpc/src/main/java/org/apache/iotdb/rpc/TSStatusCode.java
  thrift-commons/src/main/thrift/common.thrift
  thrift-confignode/src/main/thrift/confignode.thrift
  thrift-mlnode/src/main/thrift/mlnode.thrift
  thrift/src/main/thrift/datanode.thrift
Labels: Module - IoTDB ML

#9124 [IOTDB-5458] Add Session Idle Time Metrics and Upgrade Thrift related Metrics
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/ConfigNodeRPCServiceHandlerMetrics.java
  confignode/src/main/java/org/apache/iotdb/confignode/service/thrift/ConfigNodeRPCServiceMetrics.java
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-Performance-Overview-Dashboard.json
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/enums/Metric.java
  server/src/main/java/org/apache/iotdb/db/audit/AuditLogger.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/MPPDataExchangeServiceMetrics.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/MppDataExchangeServiceThriftHandlerMetrics.java
  server/src/main/java/org/apache/iotdb/db/query/control/SessionManager.java
  server/src/main/java/org/apache/iotdb/db/service/DataNodeInternalRPCServiceMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/RPCServiceMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/handler/BaseServerContextHandler.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/handler/InternalServiceThriftHandlerMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/handler/RPCServiceThriftHandlerMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/thrift/impl/ClientRPCServiceImpl.java
Labels: Module - Metrics

#9148 [IOTDB-5587] Add dataRegionId into Memtable and update flush point metrics
  server/src/main/java/org/apache/iotdb/db/engine/flush/MemTableFlushTask.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessor.java
  server/src/main/java/org/apache/iotdb/db/wal/recover/file/UnsealedTsFileRecoverPerformer.java
  server/src/test/java/org/apache/iotdb/db/engine/memtable/MemTableFlushTaskTest.java
Labels: Module - Metrics

#9147 [IOTDB-5587] Update the cluster info and node info of metrics
  confignode/src/main/java/org/apache/iotdb/confignode/conf/ConfigNodeDescriptor.java
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfig.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/prometheus/PrometheusTextWriter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/IoTDBMetricsUtils.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/NodeType.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
Labels: Module - Metrics
