Repository apache/iotdb, pull requests merged in 2023-01, with the labels that each got.

#8692 [IOTDB-5327] Move Apache IoTDB Dashboard and update doc
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-ConfigNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8693 [To rel/1.0][IOTDB-5327] Move Apache IoTDB Dashboard and update doc
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-ConfigNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8661 [IOTDB-5253] Fix chunkMetadata mem metric
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfo.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfoMetrics.java
Labels: Module - Metrics

#8662 [To rel/1.0][IOTDB-5253] Fix chunkMetadata mem metric
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfo.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfoMetrics.java
Labels: Module - Metrics

#8663 [To rel/0.13][IOTDB-5253] Fix chunkMetadata mem metric
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfo.java
  server/src/main/java/org/apache/iotdb/db/engine/storagegroup/TsFileProcessorInfoMetrics.java
Labels: Module - Metrics

#8703 [IOTDB-5330] Add the details of normal level metrics in zh
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8704 [To rel/1.0] [IOTDB-5330] Add the details of normal level metrics in zh
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8684 Fix typo in query metric
  server/src/main/java/org/apache/iotdb/db/mpp/metric/DataExchangeMetricSet.java
Labels: Module - Metrics

#8739 [IOTDB-5334] Optimize metric related code and log
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricNameTool.java
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/reporter/DropwizardJmxReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/CompositeReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/DoNothingMetricService.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfig.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfigDescriptor.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/IMetricSet.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmGcMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmUtils.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/logback/LogbackMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/logback/MetricsTurboFilter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/JmxReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/Reporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBInternalMemoryReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBInternalReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBSessionReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/prometheus/PrometheusReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/AutoGauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Counter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Gauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Histogram.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/HistogramSnapshot.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Rate.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Timer.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/IoTDBMetricsUtils.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/MetricInfo.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/MetricLevel.java
  metrics/interface/src/test/java/org/apache/iotdb/metrics/config/MetricConfigTest.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/reporter/MicrometerJmxReporter.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricService.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricServiceMBean.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/enums/Operation.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/service/DataNode.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/DataNodeMetricsHelper.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/FileMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/IoTDBInternalLocalReporter.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/ProcessMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/SystemMetrics.java
Labels: Module - Metrics

#8741 [rel/1.0] [IOTDB-5334] Optimize metric related code and log
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/DropwizardMetricNameTool.java
  metrics/dropwizard-metrics/src/main/java/org/apache/iotdb/metrics/dropwizard/reporter/DropwizardJmxReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricManager.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/CompositeReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/DoNothingMetricService.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfig.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/config/MetricConfigDescriptor.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/IMetricSet.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmGcMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/jvm/JvmUtils.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/logback/LogbackMetrics.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/metricsets/logback/MetricsTurboFilter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/JmxReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/Reporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBInternalMemoryReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBInternalReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/iotdb/IoTDBSessionReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/reporter/prometheus/PrometheusReporter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/AutoGauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Counter.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Gauge.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Histogram.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/HistogramSnapshot.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Rate.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/type/Timer.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/IoTDBMetricsUtils.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/MetricInfo.java
  metrics/interface/src/main/java/org/apache/iotdb/metrics/utils/MetricLevel.java
  metrics/interface/src/test/java/org/apache/iotdb/metrics/config/MetricConfigTest.java
  metrics/micrometer-metrics/src/main/java/org/apache/iotdb/metrics/micrometer/reporter/MicrometerJmxReporter.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricService.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/MetricServiceMBean.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/enums/Operation.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/service/DataNode.java
  server/src/main/java/org/apache/iotdb/db/service/IoTDB.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/DataNodeMetricsHelper.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/FileMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/IoTDBInternalLocalReporter.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/ProcessMetrics.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/SystemMetrics.java
Labels: Module - Metrics

#8772 [IoTDB-5374] Implement MLNode basic service framework
  mlnode/.flake8
  mlnode/.gitignore
  mlnode/README.md
  mlnode/iotdb/__init__.py
  mlnode/iotdb/mlnode/__init__.py
  mlnode/iotdb/mlnode/client.py
  mlnode/iotdb/mlnode/config.py
  mlnode/iotdb/mlnode/constant.py
  mlnode/iotdb/mlnode/exception.py
  mlnode/iotdb/mlnode/handler.py
  mlnode/iotdb/mlnode/log.py
  mlnode/iotdb/mlnode/script.py
  mlnode/iotdb/mlnode/service.py
  mlnode/iotdb/mlnode/util.py
  mlnode/pyproject.toml
  mlnode/resources/conf/iotdb-mlnode.toml
  mlnode/resources/conf/logging_config.ini
  thrift-mlnode/src/main/thrift/mlnode.thrift
Labels: Module - IoTDB ML

#8795 [IOTDB-5387] Refine IT: Make JVM parameters mutable easily
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/AbstractEnv.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/AbstractNodeWrapper.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/ConfigNodeWrapper.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/DataNodeWrapper.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/EnvUtils.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/MppClusterConfig.java
  integration-test/src/main/java/org/apache/iotdb/it/env/cluster/MppJVMConfig.java
  integration-test/src/main/java/org/apache/iotdb/it/env/remote/RemoteClusterConfig.java
  integration-test/src/main/java/org/apache/iotdb/it/env/remote/RemoteJVMConfig.java
  integration-test/src/main/java/org/apache/iotdb/itbase/env/ClusterConfig.java
  integration-test/src/main/java/org/apache/iotdb/itbase/env/JVMConfig.java
  integration-test/src/test/java/org/apache/iotdb/confignode/it/cluster/IoTDBClusterNodeErrorStartUpIT.java
  integration-test/src/test/java/org/apache/iotdb/confignode/it/cluster/IoTDBClusterRestartIT.java
Labels: Module - Integration-test

#8764 [IOTDB-5369] Add query related panels in Grafana Dashboard
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8841 [IOTDB-5404] Fix concurrency problem of `metricSets` in `AbstractMetricService`
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
Labels: Module - Metrics

#8842 [To rel/1.0][IOTDB-5404] Fix concurrency problem of metricSets in AbstractMetricService
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
Labels: Module - Metrics

#8856 [To rel/1.0][IOTDB-5404] Optimize concurrency problem of metricSets in AbstractMetricService
  metrics/interface/src/main/java/org/apache/iotdb/metrics/AbstractMetricService.java
Labels: Module - Metrics

#8857 [IOTDB-5289] Add Metric Doc about ConfigNode Dashboard
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
Labels: Module - Metrics

#8853 Add query metrics doc
  docs/UserGuide/Monitor-Alert/Metric-Tool.md
  docs/zh/UserGuide/Monitor-Alert/Metric-Tool.md
  node-commons/src/main/java/org/apache/iotdb/commons/concurrent/ThreadName.java
  node-commons/src/main/java/org/apache/iotdb/commons/conf/IoTDBConstant.java
  node-commons/src/main/java/org/apache/iotdb/commons/service/metric/enums/Operation.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBConfig.java
  server/src/main/java/org/apache/iotdb/db/conf/IoTDBDescriptor.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/LocalSinkHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/LocalSourceHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/MPPDataExchangeManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/SinkHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/execution/exchange/SourceHandle.java
  server/src/main/java/org/apache/iotdb/db/mpp/metric/DataExchangeCostMetricSet.java
  server/src/main/java/org/apache/iotdb/db/mpp/metric/DataExchangeCountMetricSet.java
  server/src/main/java/org/apache/iotdb/db/mpp/metric/QueryExecutionMetricSet.java
  server/src/main/java/org/apache/iotdb/db/mpp/metric/QueryMetricsManager.java
  server/src/main/java/org/apache/iotdb/db/mpp/plan/execution/QueryExecution.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/DataNodeMetricsHelper.java
  server/src/test/java/org/apache/iotdb/db/utils/EnvironmentUtils.java
Labels: Module - Metrics

#8879 [IOTDB-5140] Add metrics for compaction deserializing pages or writing chunks
  docs/UserGuide/Monitor-Alert/Apache-IoTDB-DataNode-Dashboard.json
  rewrite-tsfile-tool/src/main/java/org/apache/iotdb/RewriteTsFileTool.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/performer/impl/FastCompactionPerformer.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/performer/impl/ReadChunkCompactionPerformer.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/AbstractCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/CompactionTaskSummary.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/CrossSpaceCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/InnerSpaceCompactionTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/subtask/FastCompactionPerformerSubTask.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/task/subtask/FastCompactionTaskSummary.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/fast/AlignedSeriesCompactionExecutor.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/fast/NonAlignedSeriesCompactionExecutor.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/fast/SeriesCompactionExecutor.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/fast/element/ChunkMetadataElement.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/readchunk/AlignedSeriesCompactionExecutor.java
  server/src/main/java/org/apache/iotdb/db/engine/compaction/execute/utils/executor/readchunk/SingleSeriesCompactionExecutor.java
  server/src/main/java/org/apache/iotdb/db/service/metrics/recorder/CompactionMetricsRecorder.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/FastCrossCompactionPerformerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/cross/CrossSpaceCompactionWithFastPerformerValidationTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/FastCompactionPerformerAlignedTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/FastCompactionPerformerNoAlignedTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerSeqCompactionWithFastPerformerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerSeqCompactionWithReadChunkPerformerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerSpaceCompactionExceptionTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/InnerUnseqCompactionWithFastPerformerTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/inner/sizetiered/SizeTieredCompactionRecoverTest.java
  server/src/test/java/org/apache/iotdb/db/engine/compaction/recover/SizeTieredCompactionRecoverTest.java
  tsfile/src/main/java/org/apache/iotdb/tsfile/read/TsFileAlignedSeriesReaderIterator.java
Labels: Module - Metrics

#8940 Fix English docs with Chinese characters
  docs/UserGuide/QuickStart/Command-Line-Interface.md
  docs/UserGuide/QuickStart/Files.md
  docs/UserGuide/QuickStart/WayToGetIoTDB.md
Labels: Module - Documents
